@model dp2weixin.service.WxUserItem
@section Scripts {
    <script>

        //观察模型
        var model = {
            reservations: ko.observableArray()
        }


        //用于所有微信用户
        function getReservations(weixinId) {
            //显示等待图层
            var index = loadLayer();

            // 先删除可观察数组中的已有数据
            model.reservations.removeAll();

            var libUserName = $("#libUserName").text();;
            var patronBarcode = $("#patronBarcode").text();;

            // 调web api
            var url = "/api/PatronReservation?libUserName=" + encodeURIComponent(libUserName)
                + "&patronBarcode=" + encodeURIComponent(patronBarcode) ;
            sendAjaxRequest(url, "GET", function (result) {

                // 关闭等待层
                layer.close(index);

                // 出错或未命中
                if (result.errorCode == -1 || result.errorCode == 0) {
                    openMsg(result.errorInfo);
                    return;
                }

                for (var i = 0; i < result.reservations.length; i++) {
                    //遍历从服务器得到的结果，以push方法对该数组填充新数据
                    model.reservations.push(result.reservations[i]);
                }

                window.setTimeout("fillPending()", 1);

            }, function (xhq, textStatus, errorThrown) {

                alert(errorThrown);
                // 关闭等待层
                layer.close(index);
            });
        }

        // 删除
        function deleteReservation() {

        }

        // 合并
        function mergeReservation()
        {
        }

        // 拆散
        function splitReservation() {
        }

        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            // 获取预约请求
            getReservations();

            ko.applyBindings(model);


        });



    </script>
}
@section style {
    <style type="text/css">
        .reservation-active {
            background-color: #99ff99;
        }

        .deleted {
            text-decoration: line-through;
        }
    </style>

}
@section header {
    <h1 class="mui-title">预约请求</h1>
}
<span id="libUserName" style="display:none">@Model.libUserName</span>
<span id="patronBarcode" style="display:none">@Model.readerBarcode</span>

<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" data-bind=" foreach:model.reservations">
    <li class="mui-table-view-cell" data-bind="css: {'reservation-active': state=='arrived'}">
        <table style="width:100%">
            <tr>
                <td class="td-right" style="width:100pt">
                    <div class='mui-input-row mui-checkbox mui-left'>
                        <label style='padding-left:30px;padding-right:0px'>册条码号</label>
                        <input name='ckbBarcode'  value='' type='checkbox' style='left:0px;' />
                    </div>
                </td>
                <td class="td-left"><span data-bind="html: barcodes"></span></td>
            </tr>
            <tr>
                <td class="td-right">请求日期</td>
                <td class="td-left" data-bind="text:requestdate"></td>
            </tr>
            <tr>
                <td class="td-right">操作者</td>
                <td class="td-left" data-bind="text:operatorAccount"></td>
            </tr>
            <tr>
                <td class="td-right">到达情况</td>
                <td class="td-left" data-bind="text:stateText"></td>
            </tr>
            <tr>
                <td class="td-right">摘要</td>
                <td class="td-left">
                    <span class="pending">
                        <label style="display:inline" data-bind="text:fullBarcodes=='' ? '' : 'ms-'+fullBarcodes"></label>
                        <img src="~/img/wait2.gif" height="10" width="10" />
                        <span style="display:none">@Model.libUserName</span>
                    </span>
                </td>
            </tr>
        </table>
    </li>
</ul>

<div class='mui-content-padded'>
    <button class='mui-btn  mui-btn-default' onclick='deleteReservation()'>删除</button>&nbsp;&nbsp;
    <button class='mui-btn  mui-btn-default' onclick='mergeReservation()'>合并</button>&nbsp;&nbsp;
    <button class='mui-btn  mui-btn-default' onclick='splitReservation()'>拆散</button>
</div>