<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TestClient1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <TestClient1.Properties.Settings>
            <setting name="config_url" serializeAs="String">
                <value>http://localhost:8083/dp2mserver</value>
            </setting>
            <setting name="config_userName" serializeAs="String">
                <value/>
            </setting>
            <setting name="config_password" serializeAs="String">
                <value/>
            </setting>
            <setting name="getInfo_remoteUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="getInfo_queryWord" serializeAs="String">
                <value/>
            </setting>
            <setting name="getInfo_formatList" serializeAs="String">
                <value/>
            </setting>
            <setting name="search_dbNameList" serializeAs="String">
                <value/>
            </setting>
            <setting name="search_queryWord" serializeAs="String">
                <value/>
            </setting>
            <setting name="search_use" serializeAs="String">
                <value/>
            </setting>
            <setting name="search_matchStyle" serializeAs="String">
                <value/>
            </setting>
            <setting name="search_formatList" serializeAs="String">
                <value/>
            </setting>
            <setting name="search_remoteUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="getInfo_method" serializeAs="String">
                <value>getPatronInfo</value>
            </setting>
            <setting name="search_method" serializeAs="String">
                <value>searchPatron</value>
            </setting>
            <setting name="search_resultSetName" serializeAs="String">
                <value/>
            </setting>
            <setting name="search_position" serializeAs="String">
                <value>0,100</value>
            </setting>
            <setting name="bindPatron_remoteUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="bindPatron_action" serializeAs="String">
                <value>bind</value>
            </setting>
            <setting name="bindPatron_queryWord" serializeAs="String">
                <value/>
            </setting>
            <setting name="bindPatron_password" serializeAs="String">
                <value/>
            </setting>
            <setting name="bindPatron_bindingID" serializeAs="String">
                <value/>
            </setting>
            <setting name="bindPatron_style" serializeAs="String">
                <value>single</value>
            </setting>
            <setting name="bindPatron_resultTypeList" serializeAs="String">
                <value>xml</value>
            </setting>
            <setting name="setInfo_method" serializeAs="String">
                <value/>
            </setting>
            <setting name="setInfo_remoteUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="setInfo_biblioRecPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="setInfo_action" serializeAs="String">
                <value/>
            </setting>
            <setting name="circulation_remoteUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="circulation_operation" serializeAs="String">
                <value/>
            </setting>
            <setting name="circulation_patron" serializeAs="String">
                <value/>
            </setting>
            <setting name="circulation_item" serializeAs="String">
                <value/>
            </setting>
            <setting name="circulation_style" serializeAs="String">
                <value/>
            </setting>
            <setting name="circulation_patronFormatList" serializeAs="String">
                <value/>
            </setting>
            <setting name="circulation_itemFormatList" serializeAs="String">
                <value/>
            </setting>
            <setting name="circulation_biblioFormatList" serializeAs="String">
                <value/>
            </setting>
            <setting name="message_groupName" serializeAs="String">
                <value/>
            </setting>
            <setting name="message_timeRange" serializeAs="String">
                <value/>
            </setting>
            <setting name="getRes_remoteUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="getRes_operation" serializeAs="String">
                <value/>
            </setting>
            <setting name="getRes_path" serializeAs="String">
                <value/>
            </setting>
            <setting name="getRes_start" serializeAs="String">
                <value/>
            </setting>
            <setting name="getRes_length" serializeAs="String">
                <value/>
            </setting>
            <setting name="getRes_style" serializeAs="String">
                <value/>
            </setting>
            <setting name="getRes_outputFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="message_userRange" serializeAs="String">
                <value/>
            </setting>
            <setting name="message_sortCondition" serializeAs="String">
                <value/>
            </setting>
            <setting name="markdown_source" serializeAs="String">
                <value/>
            </setting>
            <setting name="sendMessageDialog_ui" serializeAs="String">
                <value/>
            </setting>
            <setting name="getMessageDialog_ui" serializeAs="String">
                <value/>
            </setting>
            <setting name="config_libraryUserName" serializeAs="String">
                <value/>
            </setting>
            <setting name="config_isPatron" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="config_libraryPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="setInfoRequest" serializeAs="String">
                <value/>
            </setting>
            <setting name="search_filter" serializeAs="String">
                <value/>
            </setting>
        </TestClient1.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
