
/*出纳界面*/

        TABLE.command {
            width:100%;
            background-color:white;
            margin-top:10px;
        }

        TABLE.command TD.rightLine {
            width:2px;
            background-color:darkgreen;
            
        }

                TABLE.command TD.errorLine {
            width:2px;
            background-color:red;
            
        }

        TABLE.command TD.resultIcon {
            width:35px;
            vertical-align:top;
        }

        TABLE.command TD.info {
            
        }

        TABLE.command TD.info  .title{
           
        }

        TABLE.command TD.info  .patronBarcode{
           color:darkgreen;
           font-size:18pt;
        }

        TABLE.command TD.info  .name{
           font-size:28pt;
           font-weight:bold;
           line-height:1.3;
        }

        TABLE.command TD.info  .department{
           color:#cccccc;
           font-size:14.8px;
        }