
/*出纳界面*/

        TABLE.command {
            width:100%;
            background-color:white;
            margin-top:10px;
        }

        TABLE.commandWarn {
            background-color:yellow;
        }

        TABLE.command TD.rightLine {
            width:6px;
            background-color:darkgreen;
            
        }

                TABLE.command TD.errorLine {
            width:6px;
            background-color:red;
            
        }

                TABLE.command TD.warnLine {
            width:6px;
            background-color:yellow;
            
        }

        TABLE.command TD.resultIcon {
            width:35px;
            vertical-align:top;
        }

        TABLE.command TD.info {
            
        }

        TABLE.command TD.info  .title{
           
        }

        TABLE.command TD.info  .patronBarcode{
           color:darkgreen;
           font-size:18pt;
        }

        TABLE.command TD.info  .name{
           font-size:28pt;
           font-weight:bold;
           line-height:1.3;
        }

        TABLE.command TD.info  .department{
           color:#cccccc;
           font-size:14.8px;
        }



 /*===============*/

        TABLE.simplepatron {
            width:100%;
            vertical-align:central;
            
        }
        TABLE.simplepatron TD SPAN{

       }

        TABLE.simplepatron TD.left {
            text-align:left;
       }

        TABLE.simplepatron TD  .barcode{
            /*color:darkgreen;*/
            font-weight:bold;
            color:gray;
       }

        TABLE.simplepatron TD  .name{
            font-weight:bold;
            font-size:18pt;
       }

        TABLE.simplepatron TD  .department{
color: gray; 
       }

        TABLE.simplepatron TD.right {
            text-align:right;
            padding-right:20px
       }

        TABLE.simplepatron TD .amerceNum {
            background-color: #B8860B;
            color: white;
        }

       TABLE.simplepatron TD .arriveNum {
            background-color: #006400;
            color: white;
        }

        TABLE.simplepatron TD .overdueNum {
            background-color: #8B0000;
            color: white;
        }

       TABLE.simplepatron TD .rightText {
            color: #bbbbbb;
            font-size:11px;
            /*margin-left:-3px;*/
        }

       /*===========*/

.chargeLink     a, a:active, a:hover {
        outline: 0;
        color: inherit;
    }

