        /*================栏目div============*/
        DIV.subject {
            padding: 0px;
            /* background-color: blue;*/
            padding-bottom: 10px;
        }

            DIV.subject .firstline {
                padding: 10px;
            }

                DIV.subject .firstline .title {
                    font-size: 24px;
                }

                DIV.subject .firstline .count {
                    font-size: 18px;
                    color: #999999;
                }

        /*=======消息div===========*/
        DIV.message {
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 10px;
            /*background-color: green;*/
        }

            /*消息div下的table*/
            DIV.message TABLE {
                width: 100%;
                /*background-color: red;*/
            }

        /*=======消息查看态===========*/
        DIV.message DIV.view {                                               
           /*background-color:blue;*/
        }

        DIV.message DIV.view TABLE.view-top {                    
            /*background-color:green;*/
        }

        /*消息标题*/
        DIV.message DIV.view TABLE.view-top .title {
            font-size: 18px;
        }

        /*标题右侧的按钮*/
        DIV.message DIV.view TABLE.view-top .btn {
            text-align: right;
            padding-right: 10px;
        }

        /*消息发布时间*/
        DIV.message DIV.view TABLE.view-top .time {
            color: gray;
            font-size: 12px;
        }

        /*消息内容*/
        DIV.message DIV.view DIV.content {
        }

        /*备注*/
        DIV.message DIV.view DIV.remark {
            color: gray;
            font-size: 12px;
        }

        /*=============*/
        /*消息编辑态标题*/
        DIV.message INPUT, SELECT {
            margin-bottom: 0px;
        }

        DIV.message TABLE.edit tr td {
            padding: 5px;
        }

            DIV.message TABLE.edit tr td.label {
                color: #999999;
                width: 40px;
            }

            DIV.message TABLE.edit tr td span.label {
                color: #999999;
            }

        DIV.message TABLE.edit select {
            font-size: 17px;
            height: 37px;
            padding: 0px;
            margin: 0px;
        }

        DIV.message TABLE.edit input, textarea {
            padding: 5px;
            margin: 0px;
        }

        /*======是否可编辑态样式=============*/
        .msgEditable {
            background-color: #CCFF99;
        }