@section Scripts {
    <script>

        //浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            //alert("ready");

            //绑定观察模块
            //ko.applyBindings(model);

            // 获取当前图书馆对应的读者
            //2016-6-17 jane 获得当前绑定读者，为了解决普通浏览器返回时，读者信息没更新的问题,iphone倒是更新了
           // getActivePatron();



            // 打回车检索
            $('#txtWord').bind('keypress', function (event) {
                //alert("test");
                if (event.keyCode == "13") {
                    // 要先给观察模型赋值一下,鼠标没离开输入框时，观察者模型还没有值
                    search('');
                }
            });

            // 打回车检索
            $('#txtWordSimple').bind('keypress', function (event) {
                //alert("test");
                if (event.keyCode == "13") {
                    // 要先给观察模型赋值一下,鼠标没离开输入框时，观察者模型还没有值
                    search('simple');
                }
            });

            // 设顶部菜单不固定
            $("#myheader").css("position", "absolute");

            redoSearch();
            //window.setTimeout("redoSearch()", 10);
            //// 当按浏览器返回按钮时，要显示原来的数据
            //var word = $('#txtWord').val();
            //if (word != "") {
            //    //alert("maxNo=" + $("#maxNo").val());
            //    var expandId = $('#expandId').val();
            //    search("_ReView", expandId);
            //}
        });

        // 重新检索
        function redoSearch() {
            //alert("redoSearch1");
            // 当按浏览器返回按钮时，要显示原来的数据
            var word = $('#txtWord').val();
            if (word == "")
                word = $('#txtWordSimple').val();
            if (word != "") { 
                //alert("maxNo=" + $("#maxNo").val());
                var expandId = $('#expandId').val();
                search("_ReView", expandId);
                ///alert("redoSearch3");
            }
        }

        // 检索
        function search(bNext, expandId) {

            // 先删除more
            $("#more").remove();

            var from = "";
            var word = "";
            var match = "";

            // 图书馆
            var libId = getLibId();//$("#selLib").val();
            if (libId == "" || libId == null) {
                alert("您尚未选择图书馆。");
                return;
            }


            if (bNext == 'true') {
                from = "_N";
                word = $("#maxNo").val();
            }
            else if (bNext == '_ReView') {
                from = "_ReView";
                word = $("#maxNo").val();
            }
            else if (bNext == 'simple') {
                // 检索途径
                from = "title,ISBN,contributor,subjec,clc,_class,publishtime,publisher";
                match = "left";

                // 检查检索词
                word = $("#txtWordSimple").val();
                if (word == "") {
                    alert("您尚未输入检索词。");
                    return;
                }
                var table = $("#ulResult");//$('.mui-table-view');
                table.html("");
            }
            else {

                // 检查是否选择的检索途径
                from = $("#selFrom").val();
                if (from == "") {
                    alert("您尚未选择检索途径。");
                    return;
                }

                // 检查检索词
                word = $("#txtWord").val();
                if (word == "") {
                    alert("您尚未输入检索词。");
                    return;
                }
                //alert("[" + from + "]-[" + word + "]");

                match = $("#selMatch").val();
                if (match == "") {
                    alert("您尚未选择匹配方式。");
                    return;
                }
                var table = $("#ulResult");//$('.mui-table-view');
                table.html("");

            }

            //resultSet 如果为空，服务器生成一个
            var resultSet = $("#resultSet").val();


            // 调检索接口
            //显示等待图层
            var index = loadLayer();

            // 调web api
            var url = "/api/biblio?libId=" + encodeURIComponent(libId)
                + "&from=" + encodeURIComponent(from)
                + "&word=" + encodeURIComponent(word)
                + "&match=" + encodeURIComponent(match)
                + "&resultSet=" + encodeURIComponent(resultSet);

            //alert(url);
            sendAjaxRequest(url, "GET",
                function (result) {

                    //alert("回来");

                    // 关闭等待层
                    layer.close(index);

                    //alert("2");
                    if (result.apiResult.errorCode == -1) {
                        $("#searchInfo").text("检索出错:" + result.apiResult.errorInfo);
                        $("#searchInfo").css("color", "red");  //设置p元素的样式颜色为红色
                    }
                    else if (result.apiResult.errorCode == 0) {
                        $("#searchInfo").text("未命中");
                        $("#searchInfo").css("color", "red");  //设置p元素的样式颜色为红色
                    }
                    else {
                        $("#searchInfo").text("命中" + result.apiResult.errorCode + "条记录。");
                        $("#searchInfo").css("color", "darkgreen");  //设置p元素的样式颜色为红色
                    }

                    // 出错或未命中
                    if (result.apiResult.errorCode == -1 || result.apiResult.errorCode == 0) {
                        alert(result.apiResult.errorInfo);
                        return;
                    }

                    //alert("1");

                    var table = $("#ulResult");//$('.mui-table-view');
                    var start = 0;
                    if (bNext == 'true') {
                        start = parseInt($("#maxNo").val());
                    }
                    for (var i = 0; i < result.records.length; i++) {
                        var record = result.records[i];
                        var id = "record-" + (start + i);
                        var li = "<li class='mui-table-view-cell mui-collapse' id='" + id + "'> "
                            + "<a class='mui-navigate-right'  href='javascript:void(0)' onclick='expand(\"" + id + "\")'>" + record.no + " " + record.name + "</a>"
                            + "<div class='mui-collapse-content' style='display:none;'>"
                                + "<div class='pendingDetail biblio' >"
                                    + "<label>" + record.recPath + "</label>"
                                    + "<img src='../img/wait2.gif' />"
                                + "</div>"
                            + "</div>"
                            + "</li>";
                        table.append(li);

                        if (i == result.records.length - 1) {
                            $("#maxNo").val(record.no);
                            $("#resultSet").val(result.resultSetName);
                        }
                    }

                    //<li class="mui-table-view-cell mui-collapse">
                    //<a class="mui-navigate-right" href="#">表单</a>
                    //<div class="mui-collapse-content">



                    //有下页的情况
                    if (result.isCanNext == true) {
                        var li1 = "<li class='mui-table-view-cell'  id='more'>"
                            + "<center><a href='javascript:void(0)' onclick='searchN()'>点击加载更多</a></center>"
                            + "</li>";
                        table.append(li1);
                    }

                    // 打开需要展开的项
                    if (expandId != null && expandId != "") {
                        expand(expandId);
                    }

                    // 关闭等待层
                    //layer.close(index);

                }, function (xhq, textStatus, errorThrown) {

                    alert(errorThrown);
                    // 关闭等待层
                    layer.close(index);
                });
        }


        // 2016-6-17 jane 为了返回时记住展开项，expand函数由原来传一个对象，改为传一个id
        function expand(expId) {
            //根据id找到<li>元素
            var id = "#" + expId;
            var obj = $(id);

            // 如果自己是展开状态，则收缩
            var state = $(obj).find(".mui-collapse-content").first().css("display");
            if (state == "block") { //自己本来是展开状态，要关闭
                $(obj).find(".mui-collapse-content").css("display", "none");
                $(obj).removeClass("mui-active");
            }
            else {
                //其它收缩
                //$(".mui-collapse-content").css("display", "none");
                //$(".mui-collapse").removeClass("mui-active");

                //自己展开
                $(obj).find(".mui-collapse-content").css("display", "block");
                $(obj).addClass("mui-active");

                // 记住展开项
                $("#expandId").val(expId);


                //检查是否已经加载过了
                var o = $(obj).find(".pendingDetail:first");
                if (o.length == 0) {
                    return;
                }
                else {
                    var recPath = o.children("label").text();
                    //alert(recPath);
                    if (recPath != null && recPath != "") {
                        // 图书馆
                        var libId = getLibId();
                        var myhtml = getDetail(libId, recPath, o,"index");

                        //var url = "/Biblio/Detail?biblioPath=" + encodeURIComponent(recPath);
                        //gotoUrl(url);
                    }
                }
            }
        }

        //必须要换一个名称，被下一页使用，直接用search("true")不行
        function searchN() {
            search("true");
        }



        // 切换简单检索与高级检索
        function changeType() {
            var type = $("#searchType").text();
            //alert(type);

            if (type == "高级检索") {
                $("#divAdvance").css("display", "block");
                $("#divSimple").css("display", "none");
                $("#searchType").text("简单检索");
            }
            else {
                $("#divAdvance").css("display", "none");
                $("#divSimple").css("display", "block");
                $("#searchType").text("高级检索");
            }
        }


    </script>
}
@section style {
    <style type="text/css">
        /*书目*/
        DIV.biblio {
        }

            /*书目操作按钮行，现在有好书推荐按钮*/
            DIV.biblio DIV.btnRow {
                text-align: right;
            }

        /*整个册块*/
        DIV.item {
            margin: 3px 0px 0px;
            padding: 2px;
        }

            /*册块标题，一般barcode使用该样式*/
            DIV.item .title {
                margin-top: 5px;
                margin-bottom: 5px;
                padding-left: 10px;
                font-size: 20px;
            }

            /*册块备注，没有册文字使用该样式*/
            DIV.item .remark {
                color: #999999;
                padding: 2px;
            }

            /*一条一条的册table*/
            DIV.item TABLE {
                text-align: left;
                background-color: white;
                width: 100%;
                margin-top: 10px;
            }

                /*册td*/
                DIV.item TABLE TR TD {
                    border-width: 0px;
                    border-top-width: 1px;
                    border-color: #dddddd;
                    border-style: dotted;
                    padding: 2px;
                }

                    /*册右值数据td*/
                    DIV.item TABLE TR TD.value {
                        padding-left: 5px;
                    }

                        /*册右值数据td*/
                        DIV.item TABLE TR TD.value .info {
                            /*float: left;*/
                            padding-top: 5px;
                            text-align:left;
                        }

                        /*册右值数据td*/
                        DIV.item TABLE TR TD.value .btn {
                            /*float: right;*/
                            text-align:right;
                        }

                    /*册左侧标题td*/
                    DIV.item TABLE TR TD.label {
                        width: 75px;
                        background-color: #ffffff;
                        color: #999999;
                        padding-right: 5px;
                        text-align: right;
                    }

                    /*册里面的操作提示*/
                    DIV.item TABLE TR TD .resultInfo {
                        /*显示预约结果的span*/
                    }

        /*===========*/
        DIV.search {
            padding: 10px;
            /*background-color: green;*/
        }

            /*消息div下的table*/
            DIV.search TABLE {
                width: 100%;
                /*background-color: red;*/
            }




            /*=============*/
            /*消息编辑态标题*/
            DIV.search INPUT, SELECT {
                margin-bottom: 0px;
            }

            DIV.search TABLE.advance tr td {
                padding: 5px;
            }

                DIV.search TABLE.advance tr td.label {
                    color: #999999;
                    width: 70px;
                }


            DIV.search TABLE.advance select {
                font-size: 17px;
                height: 37px;
                padding: 0px;
                margin: 0px;
                padding-left: 5px;
            }

            DIV.search TABLE.advance input, textarea {
                padding: 5px;
                margin: 0px;
            }
    </style>
}

@section header {
    <h1 class="mui-title">书目查询</h1>
}
<span id="weixinId" style="display:none;">@Session[dp2weixin.service.WeiXinConst.C_Session_WeiXinId]</span>
<span id="patronBarcode" style="display:none">@ViewBag.PatronBarcode</span>
<!--
<span id="patronName" style="display:none">@ViewBag.PatronName</span>
<span id="workerUserName" style="display:none">@ViewBag.workerUserName</span>
-->
<!--关于结果集-->
<input id="maxNo" type="hidden">
<input id="resultSet" type="hidden" value="" disabled="disabled">
<input id="expandId" type="hidden" value="" disabled="disabled">
<div id="divSimple" class="search" style="padding:10px">
    <table style="width:100%" class="simple">
        <tr>
            <td style="vertical-align:middle;width:100%">
                <input class="mui-input mui-input-clear" style="border-top-left-radius:4px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:4px;border-right:0px" id="txtWordSimple" type="text" value="" placeholder="请输入检索词">
            </td>
            <td style="vertical-align:top"><span class="mui-icon mui-icon-search" style="padding-top:10px;height:40px; border:1px solid #cccccc;border-left:0px;border-top-left-radius:0px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:0px;width:30px;cursor:pointer; background-color:white" onclick="search('simple')"></span></td>
        </tr>
    </table>
</div>
<div id="divAdvance" class="search" style="display:none">
    <table class="advance">
        <tr>
            <td class="label">检索途径</td>
            <td>
                <div style="border:1px solid #cccccc">
                    <select id="selFrom" name="selFrom">
                        <option value="title" selected>书名</option>
                        <option value="ISBN">ISBN</option>
                        <option value="contributor">作者</option>
                        <option value="subject">主题词</option>
                        <option value="clc,_class">分类号</option>
                        <option value="publishtime">出版时间</option>
                        <option value="publisher">出版社</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td class="label">检索词</td>
            <td>
                <input id="txtWord" type="text" class="mui-input mui-input-clear" placeholder="请输入 检索词">
            </td>
        </tr>
        <tr>
            <td class="label">匹配方式</td>
            <td>
                <div style="border:1px solid #cccccc">
                    <!--left/middle/right/exact-->
                    <select id="selMatch">
                        <option value="left" selected>前方一致</option>
                        <option value="middle">中间一致</option>
                        <option value="right">后方一致</option>
                        <option value="exact">精确一致</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button id='login' class="mui-btn mui-btn-block mui-btn-primary" onclick="search('')">检索</button>
            </td>
        </tr>
    </table>
</div>
<div style="padding:10px">
    <a id="searchType" href="javascript:void(0)" onclick="changeType()">高级检索</a>
</div>
<div id="divResult">
    <!--数据列表-->
    <span style="padding-left:10px;" id="searchInfo"></span>
    <ul id="ulResult" class="mui-table-view "></ul>


</div>
