@section Scripts {
    <script>

        //观察模型
        var model = {
            // 图书馆列表
            librarys: ko.observableArray(),
            selectedLib: ko.observable(),
        }

        //用于获取图书馆
        function getAllLib() {
            //显示等待图层
            var index = loadLayer();

            // 先删除观察数组中的已有数据
            model.librarys.removeAll();

            // 调web api
            var url = "/api/library";
            sendAjaxRequest(url, "GET", function (data) {
                for (var i = 0; i < data.length; i++) {
                    //遍历从服务器得到的结果，以push方法对该数组填充新数据
                    model.librarys.push(data[i]);
                }

                // 设上传进来的libcode
                var libCode = $("#spanLibCode").text();
                if (libCode != null && libCode != "") {
                    $("#selLib option[value='" + libCode + "']").attr("selected", "selected");
                    model.selectedLib(libCode);
                }

                // 关闭等待层
                layer.close(index);

            }, function (xhq, textStatus, errorThrown) {

                alert(errorThrown);
                // 关闭等待层
                layer.close(index);
            });
        }


        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            //获取图书馆列表
            getAllLib();

            //绑定观察模块
            ko.applyBindings(model);

            // 密码框打回车时，进行绑定
            $('#txtWord').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    // 要先给观察模型赋值一下,鼠标没离开输入框时，观察者模型还没有值
                    search();
                }
            });

            // 设一下style
            $("#myheader").css("position", "absolute");  //设置p元素的样式颜色为红色

        });



        // 检索
        function search(bNext) {

            // 先删除more
            $("#more").remove();

            var libUserName = "";
            var from = "";
            var word = "";

            if (bNext == 'true') {
                from = "_N";
                word = $("#maxNo").text();
            }
            else {
                // 图书馆
                var lib = model.selectedLib();
                if (lib == "" || lib == null) {
                    alert("您尚未选择图书馆。");
                    return;
                }
                //alert(lib);
                var nIndex = lib.indexOf("*");
                var libCode = lib.substr(0, nIndex);
                var libUserName = lib.substr(nIndex + 1);

                // 检查是否选择的检索途径
                from = $("#selFrom").val();
                if (from == "") {
                    alert("您尚未选择检索途径。");
                    return;
                }

                // 检查检索词
                word = $("#txtWord").val();
                if (word == "") {
                    alert("您尚未输入检索词。");
                    return;
                }
                //alert("[" + from + "]-[" + word + "]");

                var table = $("#ulResult");//$('.mui-table-view');
                table.html("");

            }

            // 调检索接口
            //显示等待图层
            var index = loadLayer();

            // 调web api
            var url = "/api/biblio?libUserName=" + encodeURIComponent(libUserName) + "&from=" + encodeURIComponent(from) + "&word=" + encodeURIComponent(word);
            sendAjaxRequest(url, "GET",
                function (result) {

                    // 关闭等待层
                    layer.close(index);

                    //alert("2");
                    if (result.apiResult.errorCode == -1) {
                        $("#searchInfo").text("检索出错:" + result.apiResult.errorInfo);
                        $("#searchInfo").css("color", "red");  //设置p元素的样式颜色为红色
                    }
                    else if (result.apiResult.errorCode == 0) {
                        $("#searchInfo").text("未命中");
                        $("#searchInfo").css("color", "red");  //设置p元素的样式颜色为红色
                    }
                    else {
                        $("#searchInfo").text("命中" + result.apiResult.errorCode + "条记录。");
                        $("#searchInfo").css("color", "darkgreen");  //设置p元素的样式颜色为红色
                    }



                    // 出错或未命中
                    if (result.apiResult.errorCode == -1 || result.apiResult.errorCode == 0) {
                        openMsg(result.apiResult.errorInfo);
                        return;
                    }

                    //alert("1");

                    var table = $("#ulResult");//$('.mui-table-view');
                    for (var i = 0; i < result.records.length; i++) {
                        var record = result.records[i];
                        var li = "<li class='mui-table-view-cell mui-collapse'  onclick='expand(this)'>"
                            + "<a class='mui-navigate-right' href='javascript:void(0)'>" + record.no + " " + record.name + "</a>"
                            + "<div class='mui-collapse-content' style='display:none;'>"
                                + "<span class='pending' >"
                                    + "<label>"+record.libUserName+"|"+record.recPath+"</label>"
                                    + "<img src='../img/wait2.gif' />"
                                + "</span>"
                            + "</div>"
                            + "</li>";
                        table.append(li);

                        if (i == result.records.length - 1) {
                            $("#maxNo").text(record.no);
                        }
                    }

                    //<li class="mui-table-view-cell mui-collapse">
                    //<a class="mui-navigate-right" href="#">表单</a>
                    //<div class="mui-collapse-content">



                    //有下页的情况
                    if (result.isCanNext == true) {
                        var li1 = "<li class='mui-table-view-cell'  id='more'>"
                            + "<center><a href='javascript:void(0)' onclick='searchN()'>点击加载更多</a></center>"
                            + "</li>";
                        table.append(li1);
                    }

                    //adjust();

                    // 关闭等待层
                    //layer.close(index);

                }, function (xhq, textStatus, errorThrown) {

                    alert(errorThrown);
                    // 关闭等待层
                    layer.close(index);
                });
        }

        function expand(obj)
        {
            // 如果自己是展开状态，则收缩
            var  state=$(obj).find(".mui-collapse-content").first().css("display");
            if (state == "block") { //自己本来是展开状态，要关闭                
                $(obj).find(".mui-collapse-content").css("display", "none");
                $(obj).removeClass("mui-active");
            }
            else {
                //其它收缩
                $(".mui-collapse-content").css("display", "none");
                $(".mui-collapse").removeClass("mui-active");

                //自己展开
                $(obj).find(".mui-collapse-content").css("display", "block");
                $(obj).addClass("mui-active");


                //检查是否已经加载过了
                var o = $(obj).find(".pending:first");
                if (o.length == 0) {
                    // 没有pending类型元素则返回
                    return;
                }
                else {
                    getDetail(o);
                }
            }
        }

        function getDetail(o) {
            // 找到下级的标签，里面存储的线索
            var mylable = o.children("label");
            // 如果没有定义标签label，则去掉pending状态，继续下一个pending
            if (mylable.length == 0) {
                //alert("fillPending1-2");
                o.html("没找到存放线索信息的lable标签");
                o.removeClass("pending");
                return;
            }

            // 取出label设置的线索信息
            var keyword = mylable.text();
            // 未给label设值，去掉pending状态，继续下一个pending
            if (keyword.length == 0) {
                o.html("线索信息为空");
                o.removeClass("pending");
                return;
            }

            // 取出图书馆账号与记录路径
            var nIndex = keyword.indexOf('|');
            var libUserName = keyword.substring(0, nIndex);
            var biblioPath = keyword.substring(nIndex + 1);
            //alert("type[" + mytype + "]-value[" + myvalue + "]");
            if (libUserName == "" || biblioPath == "") {
                o.html("记录路径值[" + keyword + "]不对，格式应该为[图书馆账号|记录路径]");
                o.removeClass("pending");
                window.setTimeout("fillPending()", 1);
                return;
            }

            var url = "/api/biblio?libUserName=" + encodeURIComponent(libUserName) + "&biblioPath=" + encodeURIComponent(biblioPath);

            alert(url);

            // 调api
            sendAjaxRequest(url, "GET", function (result) {
                alert("回来");

                alert(result.errorCode);


                // 出错或未命中
                if (result.errorCode == -1 || result.errorCode == 0) {
                    o.html(result.errorInfo);
                    $(o).css("color", "red");  //设置p元素的样式颜色为红色
                    o.removeClass("pending");
                    return;
                }


                // todo 册信息
                //册条码
                //状态         
                //卷册
                //馆藏地
                //价格
                //在借情况
                var itemTables = "";
                if (result.itemList.length == 0)
                    itemTables="<div>该书没有下级册信息。</div>"

                for (var i = 0; i < result.itemList.length; i++) {
                    var record = result.itemList[i];

                    itemTables += "<table style='width:100%;padding:10px;text-align:left'>"
                    +"<tr>"
                    +   "<td style='min-width:80px;text-align:right;color:#CCCCCC;padding-left:0px'>册条码：</td>"
                    +    "<td style='text-align:left;width:80%'>" + record.barcode + "</td>"
                    +"</tr>"
                    +"<tr>"
                    +    "<td style='min-width:80px;text-align:right;color:#CCCCCC;'>状态：</td>"
                    + "<td style='text-align:left'>" + record.state + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td style='min-width:80px;text-align:right;color:#CCCCCC;'>卷册：</td>"
                    + "<td style='text-align:left'>" + record.volumn + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td style='min-width:80px;text-align:right;color:#CCCCCC;'>馆藏地：</td>"
                    + "<td style='text-align:left'>" + record.location + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td style='min-width:80px;text-align:right;color:#CCCCCC;'>价格：</td>"
                    + "<td style='text-align:left'>" + record.price + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td style='min-width:100px;text-align:right;color:#CCCCCC;'>在借情况：</td>"
                    + "<td style='text-align:left'>" + record.borrowInfo + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td>&nbsp;</td><td>"
                    +"<button class='mui-btn mui-btn-primary' onclick='alert(\"todo\")'>预约</button>"
                    +"</td>"
                    + "</tr>"
                    +"</table>";
                }

                //换成实际的值，去掉pending状态，
                var myHtml = "<span>" + result.summary + "</span>" + itemTables;
                o.html(myHtml);

                o.removeClass("pending");
            }, function (xhq, textStatus, errorThrown) {
                //换成实际的值，去掉pending状态，继续下一个pending
                o.html("访问服务器出错：[" + errorThrown+"]");
                o.removeClass("pending");
            });


            return;
        }


        function searchN() {
            search("true");
        }

        $(function () {
            $("#accordion").accordion();
        });

    </script>
}

@section header {
    <h1 class="mui-title">书目查询</h1>
    }
<span id="spanLibCode" style="display:none">@ViewBag.LibCode</span>
<span id="maxNo" style="display:none"></span>


<div id="divForm">
    <div class="mui-input-group">

        <div class="mui-input-row ">
            <label style="color:#cccccc">图书馆</label>
            <select id="selLib" style="padding-left: 0px;width: 65%" data-bind="options:librarys,optionsText:function(item) {
                       return  item.libName; },optionsValue:function(item) {
                       return item.libCode + '*' + item.libUserName; },optionsCaption:'请选择 图书馆',value:selectedLib"></select>
        </div>

        <div class="mui-input-row ">
            <label style="color:#cccccc">检索途径</label>
            <select id="selFrom" name="selFrom" >
                <option value="title" selected>书名</option>
                <option value="ISBN">ISBN</option>
                <option value="contributor">作者</option>
            </select>
        </div>
        <div class="mui-input-row">
            <label style="color:#cccccc">检索词</label>
            <input id="txtWord" type="text" class="mui-input mui-input-clear" placeholder="请输入 检索词">
        </div>
    </div>
    <div class="mui-content-padded">
        <button id='login' class="mui-btn mui-btn-block mui-btn-primary" onclick="search('')">检索</button>


    </div>
</div>

<div id="divResult">
    <!--数据列表-->
    <span style="padding-left:10px" id="searchInfo"></span>
    <ul id="ulResult" class="mui-table-view mui-table-view-chevron">

    </ul>


</div>