

@{
    ViewBag.Title = "PDF在线阅读";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@section Scripts {

    <script>

        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            // 2021/8/2调试态显示当前操作帐号
            setOpeAccount("");


            // 滑滚事件
            $(window).scroll(function () {

                /*
                var winHeight = $(window).height();  //屏幕高度
                var winScrollTop = $(window).scrollTop();  //卷滚条top
                var docHeight = $(document).height();  //文档高度

                //alert("winHeight=" + winHeight + ";winScrollTop=" + winScrollTop + ";docHeight=" + docHeight);


                var img1 = $("#img1");
                var imgHeight = img1.height();  //图像高度


                // 计算出需要显示第几个
                var tempNo = (winHeight + winScrollTop) / (imgHeight + 10);  
                var no = Math.ceil(tempNo);
                //alert("tempNo=" + tempNo + ";no=" + no);

                tryShowImg(no);
                */
            })



        });




        function firstImgLoad() {
            var totalHeight1 = $(window).height();
            var totalWidth1 = $(window).width() - 20;
            var main = $("#main");


            var styleStr = " style='width:" + totalWidth1 + "px; height:" + totalHeight1 + "px'";

            var styleStr1 = "";//" style='width:" + totalWidth1 + "px'"; //" style='height:" + totalHeight1 + "px'";

            //alert(styleStr);


            var pageCountStr = $("#_pageCount").text();
            var pageCount = parseInt(pageCountStr);
            if (pageCount > 0) {

                // 从第2个图片填，第1个图片要先设好，否则在手机上通过append动态加的img不能立即得到尺寸。
                for (var i = 2; i <= pageCount; i++) {

                    var div = "<div class='block todo" + i + "' " + styleStr + " onclick=tryShowImg("+i+") >"
                        + "点击加载 第" + i +"页"
                        + "</div>";
                    main.append(div);
                }


                // 按图片宽度计算
                var img1 = $("#img1");
                //alert("width=" + img1.width() + ",height=" + img1.height());
                var imgWidth = img1.width();

                // 如果图片宽度超过屏幕宽度，图片宽度按屏幕宽度缩小
                if (imgWidth > totalWidth1) {
                    imgWidth = totalWidth1;
                    img1.width(imgWidth); //修改第一个图片的宽度
                }
               // alert("width=" + img1.width() + ",height=" + img1.height());

                // 将所有图片框子div的宽高 设成与第一个图片一致
                $(".block").width(img1.width());
                $(".block").height(img1.height());

                ////计算屏幕高度能一次显示几个图片
                //var winHeight = $(window).height();
                //var tempNo = (winHeight) / (img1.height() + 10);
                //var no = Math.ceil(tempNo);
                //if (no > 1) {
                //    for (i = 2; i <= no; i++) {
                //        tryShowImg(i);
                //    }
                //}
            }

        }

        function tryShowImg(no)
        {
            var name = ".todo" + no;
            var todoDiv = $(name);

            if (todoDiv != null && todoDiv.html() != undefined) {

                //todoDiv.html("<img src='../img/loading.gif' />");
                todoDiv.addClass("page");

                var img1 = $("#img1");
                var imgWidth = img1.width();
                var styleStr1 = " style='width:" + imgWidth + "px'";

                var objectUri = $("#_objectUri").text();
                var libId = $("#_libId").text();
                var strImgUri = objectUri + "/page:" + no + ",format:jpeg,dpi:75";
                var src = "../patron/getphoto?libId=" + libId
                    + "&objectPath=" + encodeURIComponent(strImgUri);

                todoDiv.html("<img  id='w" + no + "' src='../img/wait2.gif' /><img id='img" + no + "'  " + styleStr1 + " src='" + src + "'  onload='deletewait(" + no + ")'/>");

                todoDiv.removeClass("todo" + no);



            }
            else {

                //alert("已经显示");
            }
        }

        function deletewait(no) {
            //alert("0");
            var o = $("#w" + no);
            o.remove();
            //o.parent().remove(o);
           // alert("1");

            // 测试出现pdf每页的尺寸可能不一样，div的尺寸随着img的尺寸变化。
            //alert("3-1");
            var imgN = $("#img" + no);
            if (imgN != undefined) {
                imgN.parent().height(imgN.height());
            }
               // alert("3-2");
        }


         //先不加横竖屏切换
        function testOrientation() {
            if (window.orientation == 90 || window.orientation == -90) {
                //alert('现在是横屏');
                // 重新加载页面
                window.location.reload();
            }
            else if (window.orientation == 180 || window.orientation == 0) {
               // alert('现在是竖屏');
                // 重新加载页面
                window.location.reload();
            }
        }

        window.addEventListener('onorientationchange' in window ? 'orientationchange' : 'resize', testOrientation, false);


    </script>
}

@section style {
    <style>
        .block {
            background-color: #dddddd;
            margin-top: 10px;
            vertical-align:middle;
            text-align:center;
        }

        .page {
            background-color: lightyellow;
            
        }
    </style>
}

<span id="_libId" style="display:none;">@ViewBag.libId</span>
<span id="_objectUri" style="display:none;">@ViewBag.objectUri</span>
<span id="_pageCount" style="display:none;">@ViewBag.pageCount</span>
<center>
    <div id="main">

        <div class='block'>
            <img class='page' id='img1' src='@ViewBag.firstUrl'  onload="firstImgLoad()"/>
        </div>
    </div>
</center>

