@{
    ViewBag.Title = "出纳窗";
}

@{

    //<p>参数：@Request["showbtn"]-@Request["showlbl"]</p>
    // 根据url参数决定是否显示标签和按钮
    // 计算各部分宽度
    int icon = 1;
    int left = 0;
    int middle = 0;
    int right = 0;
    string readerIconStr = "<label class='col-xs-" + icon.ToString() + " control-label'><span style='font-size:22px'> <span class='glyphicon glyphicon-user'></span></span></label>";
    string readerLeftStr = "";
    string readerMiddleStr = "";
    string readerRightStr = "";
    string readerBarcodeGroupStr = "";
    string itemIconStr = "<label class='col-xs-" + icon.ToString() + " control-label'><span style='font-size:22px'> <span class='glyphicon glyphicon-book'></span></span></label>";
    string itemLeftStr = "";
    string itemMiddleStr = "";
    string itemRightStr = "";
    string itemBarcodeGroupStr = "";
    if (Request["showlbl"] == "1")
    {
        left = 2;
        readerLeftStr = "<label class='col-xs-" + left.ToString() + " control-label'>证条码号</label>";
        itemLeftStr = "<label class='col-xs-" + left.ToString() + " control-label'>册条码号</label>";
    }
    if (Request["showbtn"] == "1")
    {
        right = 2;
        readerRightStr = "<div class='col-xs-" + right.ToString() + "'>"
                        + "<button type='button' class='btn btn-default btn-lg' id='btnLoad'>装载</button>"
                        + "</div>";
        itemRightStr = "<div class='col-xs-" + right.ToString() + "'>"
                        + "<button type='button' class='btn btn-default btn-lg' id='btnDo'>借</button>"
                        + "</div>";
    }
    middle = 12 - icon - left - right;
    readerMiddleStr = "<div class='col-xs-" + middle + "'>"
                     + "<input type='text' class='form-control input-lg' id='txtReaderBarcode' placeholder='证 条码号' data-bind='value:cmdModel.editor.readerBarcode'><span style='color:red' data-bind='text: patronVModel.errorInfo'></span><span style='color:green' data-bind='text: patronVModel.patron().name'></span>"
                     + "</div>";
    itemMiddleStr = "<div class='col-xs-" + middle + "'>"
                     + "<input type='text' class='form-control input-lg' id='txtItemBarcode' placeholder='册 条码号' data-bind='value:cmdModel.editor.itemBarcode'>"
                     + "</div>";

    readerBarcodeGroupStr = "<div class='form-group' id='trReaderBarcode'>"
        + readerIconStr + readerLeftStr + readerMiddleStr + readerRightStr
        + "</div>";
    itemBarcodeGroupStr = "<div class='form-group' >"
        + itemIconStr + itemLeftStr + itemMiddleStr + itemRightStr
        + "</div>";

    var formStr = "<div class='form-horizontal' role='form'>"
        + readerBarcodeGroupStr
        + itemBarcodeGroupStr
        + "</div>";


}

@section Scripts {
    <script>        

        // 读者view model
        var patronVModel = {
            errorInfo: ko.observable(""),

            // 注意必须要后面带("")，可以监控对象
            patron: ko.observable("")
        };

        // 借阅信息 view model
        var borrowModel = {
            errorInfo: ko.observable(""),
            borrows: ko.observableArray(),
        }

        //操作 view model
        var cmdModel = {
            commands: ko.observableArray(),
            // 命令编辑
            editor: {
                type: ko.observable("borrow"),
                readerBarcode: ko.observable(""),
                itemBarcode: ko.observable("")
            }
        }

        //============================
        // 加载读者信息与借阅信息
        function loadPatron() {
            var ret = loadPatronInfo();
            if (ret == 0) {
                loadBorrowInfo();
            }
        }
        // 加载读者基本信息
        function loadPatronInfo(readerBarcode) {

            if (readerBarcode == null || readerBarcode == "")
                readerBarcode =$("#txtReaderBarcode").val();

            if (readerBarcode=="")
            {
                //layer.alert("内部错误：加载读者信息，但未传来证条码参数。");
                alert("请输入读者证条码!");
                return -1;
            }

            //等待图层
           var index= layer.load(2, { shade: [0.5, '#EEEEEE']})

            // 从服务器api获得读者json数据
           sendAjaxRequest("GET", function (data) {
                //将返回数据绑在观察模型上
                patronVModel.errorInfo(data.apiResult.errorInfo);
                if (data.patron == null)
                    patronVModel.patron("");
                else
                    patronVModel.patron(data.patron);

                if (data.apiResult.errorCode == -1) {
                    // 不成功选中
                    $("#txtReaderBarcode").select();
                    // 隐藏读者基本信息
                    $("#readerTable").hide();
                }
                else {
                    // 显示读者基本信息
                    $("#readerTable").show();
                    // 成功，焦点换到item上
                    $("#txtItemBarcode").focus();
                }

                // 关闭等待层
                layer.close(index);

            }, "/api/patron/" + readerBarcode, null,
            function (xhq, textStatus, errorThrown) {
                alertServerError(errorThrown);
                // 关闭等待层
                layer.close(index);
            });

           return 0;
        }

        //获取借阅信息
        function loadBorrowInfo(readerBarcode) {

            if (readerBarcode == null || readerBarcode == "")
                readerBarcode = $("#txtReaderBarcode").val();

            if (readerBarcode == "") {
                //layer.alert("内部错误：加载在借册，但未传来证条码参数。");
                alert("请输入读者证条码!");
                return;
            }

            //等待图层
            var index = loadLayer();

            //alert("loadBorrowInfo1");
            //先隐藏borrowinfo 区
            $("#borrowTable").hide();
            // 先删除可观察数组中的已有数据
            borrowModel.borrows.removeAll();

            //alert("loadBorrowInfo1-1");

            // 调web api
            var url = "/api/patron/" + readerBarcode + "?format=borrowinfo";
            //alert("loadBorrowInfo1-2");

            sendAjaxRequest("GET", function (data) {

                //alert("loadBorrowInfo2");

                // 设上返回的error
                borrowModel.errorInfo(data.apiResult.errorInfo);
                if (data.apiResult.errorCode == -1) {
                    // 隐藏在借区
                    $("#borrowTable").hide();
                }
                else {
                    // 加载借阅记录
                    var list = data.borrowList;
                    if (list.length > 0) {
                        for (var i = 0; i < list.length; i++) {
                            //遍历从服务器得到的结果，以push方法对该数组填充新数据
                            borrowModel.borrows.push(list[i]);
                        }
                        $("#borrowTable").show();
                    } else {
                        // 显示没有借阅记录
                        borrowModel.errorInfo("该读者目前没有在借图书。");
                    }
                    // 加载书目摘要
                    window.setTimeout("GetSummary()", 1);
                }

                // 关闭等待层
                layer.close(index);
 

            }, url, null, function (xhq, textStatus, errorThrown) {
                alertServerError(errorThrown);
                // 关闭等待层
                layer.close(index);
            });

        }

        // 获得书目摘要
        function GetSummary() {
            //alert("GetSummary1");
            var o = $(".pending:first");
            if (o.length == 0) {
                // $(window).scroll();
                return;
            }

            //alert("GetSummary2");
            var barcode = o.text();
            if (barcode == "") {
                o.removeClass("pending");
                window.setTimeout("GetSummary()", 1);
                return;
            }

            //alert("GetSummary3");
            var lang = "zh";//$('select#langlist option[SELECTED]').attr('value');
            var summaryUrl = "/api/biblio/" + encodeURIComponent(barcode) + "?format=summary";
            //alert(summaryUrl);
            $.ajax({
                url: summaryUrl, //+ lang
                type: 'GET',
                cache: true,
                statusCode: {
                    500: function () {
                        //alert("GetSummary41");
                        o.text('\r\nerror 500');
                        o.removeClass("pending");
                    }
                },
                success: function (data) {
                    //alert("GetSummary42");

                    o.text(data);
                    o.removeClass("pending");

                    //o.show();
                    window.setTimeout("GetSummary()", 1);
                }
            });

            //alert("GetSummary5");
        }

        //用于获取所有命令
        //这个似乎不需要冻结界面 todo
        function getAllCmd() {
            //显示等待图层
            var index = loadLayer();

            // 先删除可观察数组中的已有数据
            cmdModel.commands.removeAll();

            // 调web api
            sendAjaxRequest("GET", function (data) {
                for (var i = 0; i < data.length; i++) {
                    //遍历从服务器得到的结果，以push方法对该数组填充新数据
                    cmdModel.commands.push(data[i]);
                }

                // 关闭等待层
                layer.close(index);

            }, "/api/command", null,
            function (xhq, textStatus, errorThrown) {
                alertServerError(errorThrown);
                // 关闭等待层
                layer.close(index);
            });

          
        }

        // 执行命令
        function addCmd() {
            //alert("addCmd0-" + cmdModel.editor.type() + "~" + cmdModel.editor.readerBarcode() + "~" + cmdModel.editor.itemBarcode());

            // 先检查有没有输入需要的信息
            if (cmdModel.editor.type() == "borrow" || cmdModel.editor.type == "renew") {
                if (cmdModel.editor.readerBarcode() == "") {

                    /*
                    layer.alert("请输入证条码号", { icon: 1 }, function (index) {
                        //do something
                        $("#txtReaderBarcode").focus();
                        // 关信息图层
                        layer.close(index);
                    });
                    */

                    alert("请输入证条码号!");
                    return;
                }
            }
            if (cmdModel.editor.itemBarcode() == "") {

                /*
                layer.alert("请输入册条码号", { icon: 0 }, function (index) {
                    //do something
                    $("#txtItemBarcode").focus();
                    layer.close(index);
                });
                */

                alert("请输入册条码号!");
                return;
            }

            //显示等待图层
            var indexTop = loadLayer();

            //调 web api
            sendAjaxRequest("POST", function (newItem) {
                // 返回命令执行成功
                if (newItem.state == 0) {
                    // 插入到最前面
                    cmdModel.commands.unshift(newItem); //push是加到最后面

                    // 清空册条码框
                    cmdModel.editor.itemBarcode("");

                    // 关闭图层，因为加载读者信息的函数里面也显示了图层
                    layer.close(indexTop);

                    // 刷新读者信息，注意这里传的返回的readerBarcode，因为还书不需要输入
                    loadPatronInfo(newItem.readerBarcode);
                    loadBorrowInfo(newItem.readerBarcode);

                    // 为什么关完呢？得找找原因
                    //layer.closeAll()//关闭所有加载  
                }
                else {

                    /*
                    //命令执行出错，弹出提示
                    layer.alert(newItem.resultInfo, { icon: 2 }, function (index) {
                        //操作失败选中册条码框
                        $("#txtItemBarcode").select();
                        $("#txtItemBarcode").focus();

                        // 一定记着关闭信息图层
                        layer.close(index);
                    });
                    */

                    // layer.alert回车无效
                    alert(newItem.resultInfo);
                    //操作失败选中册条码框
                    $("#txtItemBarcode").select();
                    $("#txtItemBarcode").focus();

                    // 关闭图层
                    layer.close(indexTop);
                }

                

            }, "/api/command", {
                type: cmdModel.editor.type,
                readerBarcode: cmdModel.editor.readerBarcode,
                itemBarcode: cmdModel.editor.itemBarcode
            }, function (xhq, textStatus, errorThrown) {
                alertServerError(errorThrown);
                // 关闭等待层
                layer.close(indexTop);
            });
        }

        //=================
        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {
            // 获取所有的操作命令
            getAllCmd();

            // 加载绑定
            ko.applyBindings(patronVModel, document.getElementById('divPatron'));
            ko.applyBindings(borrowModel, document.getElementById('divBorrow'));
            ko.applyBindings(cmdModel, document.getElementById('divCmd'));

            // 切换table事件
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                e.target // activated tab
                e.relatedTarget // previous tab

                // 先把输入框中的数据清除
                cmdModel.editor.readerBarcode("");
                cmdModel.editor.itemBarcode("");
                //清空绑定的读者
                patronVModel.errorInfo("");
                patronVModel.patron("");
                $("#readerTable").hide();

                //清空绑定的在借册
                borrowModel.errorInfo("");
                borrowModel.borrows.removeAll();
                $("#borrowTable").hide();                

                // alert(e.target.id);
                if (e.target.id == "aReturn") {
                    $("#trReaderBarcode").hide();
                    $("#txtItemBarcode").focus();
                    $("#btnDo").text("还");
                    cmdModel.editor.type("return");

                }
                else {
                    $("#trReaderBarcode").show();
                    $("#txtReaderBarcode").focus();

                    if (e.target.id == "aBorrow") {
                        $("#btnDo").text("借");
                        cmdModel.editor.type("borrow");
                    }
                    else {
                        $("#btnDo").text("续借");
                        cmdModel.editor.type("renew");
                    }
                }
            })

            // 给装载按钮绑事件
            $("#btnLoad").click(loadPatron);
            // 给读者证条码输入框加回车事件
            $('#txtReaderBarcode').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    loadPatron();
                }
            });

            // 给执行按钮绑事件
            $("#btnDo").click(addCmd);
            // 当册条码绑回车事件
            $('#txtItemBarcode').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    cmdModel.editor.itemBarcode($('#txtItemBarcode').val());

                    addCmd();
                }
            });

            //===================
            // 证条码框获得焦点
            $("#txtReaderBarcode").focus(function () {
                $("#txtReaderBarcode").removeClass("input-lg");
                $("#txtReaderBarcode").addClass("input-lg-focus");
            });
            //失去焦点
            $("#txtReaderBarcode").blur(function () {
                $("#txtReaderBarcode").removeClass("input-lg-focus");
                $("#txtReaderBarcode").addClass("input-lg");
            });


            //===================
            // 册条码框获得焦点
            $("#txtItemBarcode").focus(function () {
                $("#txtItemBarcode").removeClass("input-lg");
                $("#txtItemBarcode").addClass("input-lg-focus");
            });
            //失去焦点
            $("#txtItemBarcode").blur(function () {
                $("#txtItemBarcode").removeClass("input-lg-focus");
                $("#txtItemBarcode").addClass("input-lg");
            });

            //读者信息与在借册一开始不显示
            $("#readerTable").hide();
            $("#borrowTable").hide();            
       })

        //===========================
        // 以下是共用函数

        // 显示服务器错误
        function alertServerError(info) {
            layer.alert("服务器返回错误：" + errorThrown, { icon: 2 });
        }

        // 显示等待图层
        function loadLayer() {
            return layer.load(2, { shade: [0.5, '#EEEEEE'] });
        }

        // ajax请求
        function sendAjaxRequest(httpMethod, callback, url, reqData, errorCallback) {
            $.ajax(url, {
                type: httpMethod,
                success: callback,
                error: errorCallback,
                data: reqData
            });
        }
    </script>
}

@section style {
    <style type="text/css">

        /*摘要等待加载样式*/
        .pending {
            background-color: gray;
        }

        /*错误提示样式*/
        .errorspan {
            color: red;
        }

        /*input 去掉边框*/
        .form-horizontal input[type="text"] {
            border: none;
        }

        /*输入框获得焦点*/
        .input-lg-focus {
            height: 66px;
            padding: 10px 16px;
            font-size: 28px;
            line-height: 1.3333333;
            border-radius: 6px;
        }

        /*当前tab*/
        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover,
        .nav-tabs > li.active > a:focus {
            color: #555555;
            cursor: default;
            background-color: #eeeeee;
            border: 1px solid #dddddd;
            border-bottom-color: transparent;
        }

        .well {
            min-height: 20px;
            padding: 19px;
            margin-bottom: 20px;
            background-color: #dddddd;
            /*
                background-color: #f5f5f5;  
                border: 1px solid #e3e3e3;                  
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
                 box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
            */
        }

        .label-default {
            background-color: #ffffff;
            color:#dddddd;
        }

        .reader-barcode {
            font-size:28px; 
            font-weight:bold;
            color:green;
        }

        .reader-name {
            font-size:28px; 
            font-weight:bold;
            color:black;
        }

                .td-right {

    text-align:right;
    color:#CCCCCC;
        }

    </style>
}


<div class="container" style="background-color:#ffffff">
    <div class="row">
        <div class="col-md-6" style="background-color:#ffffff" id="divCmd">

            <span style="font-size:20px;">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#" data-toggle="tab" id="aBorrow">借</a></li>
                    <li><a href="#home" data-toggle="tab" id="aReturn">还</a></li>
                    <li><a href="#home" data-toggle="tab" id="aRenew">续借</a></li>
                </ul>
            </span>
            <div class="well">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        @Html.Raw(formStr)
                    </div>
                </div>
            </div>


            <!-- Table -->
            <h3><span class="label label-default">操作历史</span></h3>
            <div>
                <table class="table" data-bind="foreach: cmdModel.commands">
                    <tr>
                        <td  width="1%" style="color:white;vertical-align:middle;text-align:center" data-bind="style: {'background-color': type=='borrow' ? '#43A102' : '#049FF1' }">
                            <span style="font-weight:bold" data-bind="text:typeString"></span>
                        </td>
                        <td width="99%">
                            <table>
                                <tr><td>读者&nbsp;<span style="font-size:14.8px;font-weight:bold;" data-bind="text:readerBarcode"></span>&nbsp;摘要位置</td></tr>
                                <tr><td>册&nbsp;<span style="font-size:14.8px;font-weight:bold" data-bind="text:itemBarcode"></span>&nbsp;摘要位置</td></tr>
                                <tr><td data-bind="text:operTime"></td></tr>
                            </table>
                            
                        </td>
                    </tr>                    
                </table>

            </div>

        </div>
        <div class="col-md-6">
                    <h3><span class="label label-default">读者信息</span></h3>
                    <div id="divPatron" >
                        <span class="errorspan" data-bind="text: patronVModel.errorInfo"></span>

                        <div id="readerTable" style="border:1px solid #dddddd;border-radius: 6px;">
                            <table class="table">
                                <tr>
                                    <td class="td-right"><span class="reader-name" data-bind="text: patronVModel.patron().name"></span></td>
                                    <td style="vertical-align:middle">（<span data-bind="text: patronVModel.patron().department"></span>）</td>
                                </tr>
                                <tr>
                                    <td class="col-xs-3 td-right" style="vertical-align:middle">读者证条码号</td>
                                    <td class="col-xs-9"><span class="reader-barcode" data-bind="text: patronVModel.patron().barcode"></span></td>
                                </tr>
                                <tr>
                                    <td class="td-right">读者类别</td>
                                    <td data-bind="text: patronVModel.patron().readerType"> </td>
                                </tr>



                                <tr>
                                    <td class="td-right">证状态</td>
                                    <td data-bind="text: patronVModel.patron().state">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td class="td-right">失效日期</td>
                                    <td data-bind="text: patronVModel.patron().expireDate"></td>
                                </tr>

                            </table>
                        </div>
                        </div>


                    <h3><span class="label label-default">在借册</span></h3>
                    <div id="divBorrow">
                        <span class="errorspan" data-bind="text: borrowModel.errorInfo"></span>
                        <table id="borrowTable" class="table  table-striped">
                            <thead></thead>
                            <tr>
                                <th>册条码号</th>
                                <th>续借次</th>
                                <th>借阅日期</th>
                                <th>期限</th>
                                <th>操作者</th>
                                <th>应还日期</th>
                            </tr>
                            <tbody data-bind="foreach: borrowModel.borrows">
                                <tr>
                                    <td style="color:green;font-size:14.8px;font-weight:bold" data-bind="text: barcode"></td>
                                    <td data-bind="text:renewNo"></td>
                                    <td data-bind="text:borrowDate"></td>
                                    <td data-bind="text:period"></td>
                                    <td data-bind="text:borrowOperator"></td>
                                    <td data-bind="text:returnDate"></td>
                                </tr>
                                <tr>
                                    <td colspan="6" >摘要：<span class="pending" data-bind="text: barcode"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
