@if (Session[ilovelibrary.Server.SessionInfo.C_Session_sessioninfo] != null)
{
    ilovelibrary.Server.SessionInfo user = (ilovelibrary.Server.SessionInfo)Session[ilovelibrary.Server.SessionInfo.C_Session_sessioninfo];
    <li><a href="#">欢迎<strong> @user.UserName</strong> &nbsp;分馆代码 [<strong> @user.LibraryCode </strong>] </a></li>
    <li>&nbsp;&nbsp;</li>
    <li>@Html.ActionLink("登出", "Logout", "Account")</li>
}
else
{
    <li>@Html.ActionLink("登录", "Login", "Account")</li>
}
