<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.5.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.1" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>