@model List<dp2weixin.service.BbItem>
@section Scripts {
    <script>

        //观察模型
        var model = {
            list: ko.observableArray()
        }

        function libChanged() {
            var libId = $("#selLib").val();
            //alert("["+libId+"]");
            // 先把原来的元素删除
            $("#firstAnn").remove();

            // 先删除可观察数组中的已有数据
            model.list.removeAll();

            if (libId == "")
                return;

            //显示等待图层
            var index = loadLayer();



            // 调web api
            var url = "/api/Bb?libId=" + libId;
            sendAjaxRequest(url, "GET", function (result) {

                // 关闭等待层
                layer.close(index);

                //alert("errorCode["+result.errorCode+"]");

                if (result.errorCode == -1) {
                    alert(result.errorInfo);
                    return;
                }

                if (result.errorInfo != "") {
                    alert(result.errorInfo);
                    return;
                }

                if (result.items == null || result.items.length == 0)
                    $("#divNo").css('display', 'block');
                else
                    $("#divNo").css('display', 'none');

                // 把返回的数组加到观察数组
                if (result.items != null) {
                    for (var i = 0; i < result.items.length; i++) {
                        model.list.push(result.items[i]);
                    }
                }

            }, function (xhq, textStatus, errorThrown) {

                alert(errorThrown);
                // 关闭等待层
                layer.close(index);
            });
        }

        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            ko.applyBindings(model);

            $("#selLib").change(function () {
                libChanged();
            });

            // 设顶部菜单不固定
            $("#myheader").css("position", "absolute");
        })

    </script>
}
@section style {
    <style>
        .title {
            /*上外边距是 10px 右外边距和左外边距是 5px 下外边距是 15px*/
            margin: 10px 15px 2px;
            color: #666666;
            font-size: 16px;
        }

        TABLE.libTable {
            text-align: left;
            background-color: white;
            width: 100%;
        }

            TABLE.libTable TR TD {
                border-width: 0px;
                /*border-top-width: 1px;
            border-color: #dddddd;
            border-style: dotted;*/
                padding: 2px;
            }

                TABLE.libTable TR TD.value {
                    border-left: 1px solid #CCCCCC;
                    padding-left: 5px;
                }

                TABLE.libTable TR TD.label {
                    width: 80px;
                    background-color: #eeeeee;
                    color: #999999;
                    padding-left: 5px;
                    padding-right: 5px;
                    /*text-align: right;*/
                }

        .leftLabel {
            color: #999999;
        }

        .bb-title {
            line-height: 1;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 20px;
        }
    </style>
}
@section header {
    <h1 class="mui-title">公告</h1>
}
<div>
    <div class="mui-input-group" >
        <div class="mui-input-row" >
            <label style="color:#cccccc;">图书馆</label>
            @Html.Raw(ViewBag.LibHtml)
        </div>
    </div>
    </div>

<div id="firstAnn">
    @if (Model.Count == 0)
    {
        <div class="mui-card" style="margin-top:10px">
            <center>
                <img src='../img/empty2.jpg' width='100' height='100' style=" padding-top:5px" />
                <div>目前没有公告。</div>
            </center>
        </div>
    }
    else
    {
        foreach (dp2weixin.service.BbItem item in Model)
        {
            <div class="mui-card" style="margin-top:10px">
                <div class="mui-content-padded">
                    <div class="bb-title">@Html.Raw(HttpUtility.HtmlEncode(item.title))</div>
                    <p style="color:gray;font-size:10px">@item.publishTime</p>
                    <div>@Html.Raw(item.contentHtml)</div>
                </div>
            </div>
        }
    }
    <br/>
</div>


<div class="mui-card" id="divNo" style="margin-top:10px;display:none">
    <center>
        <img src='../img/empty2.jpg' width='100' height='100' style=" padding-top:5px" />
        <div>目前没有公告。</div>
    </center>
</div>
<div data-bind=" foreach:model.list">
    <div class="mui-card" style="margin-top:10px">
        <div class="mui-content-padded">
            <div class="bb-title" data-bind="text:title"></div>
            <p style="color:gray;font-size:10px" data-bind="text:publishTime"></p>
            <div data-bind="html:contentHtml"></div>
        </div>
    </div>
</div>
<br />
