@section style {
    <style>
        .leftLabel {
            color: #999999;
        }

        .msg-title {
            line-height: 1;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 20px;
        }
    </style>
}
@section Scripts {
    <script>
        var model = {
            subjects: ko.observableArray(),
            selSubject: ko.observable(""),
            userName: ko.observable("")
        }

        //用于获取栏目
        function getSubject() {
            var libId = $("#selLib").val();
            var weixinId = $("#weixinId").text();

            // 先删除可观察数组中的已有数据
            model.subjects.removeAll();
            model.userName("");

            // 先把这些项隐藏
            $("#divNo").css('display', 'none');
            if (libId == "") {
                return;
            }
            if (weixinId == "") {
                alert("异常情况：weixinId为空");
                return;
            }

            //显示等待图层
            var index = loadLayer();
            // 调web api
            var url = "/api/LibMessage?weixinId=" + weixinId
                + "&group=" + encodeURIComponent("gn:_lib_homePage")
                + "&libId=" + libId
            sendAjaxRequest(url, "GET", function (result) {
                // 关闭等待层
                layer.close(index);

                if (result.errorCode == -1) {
                    alert(result.errorInfo);
                    return;
                }

                // 显示列表
                if (result.list == null || result.list.length == 0)
                    $("#divNo").css('display', 'block');
                else
                    $("#divNo").css('display', 'none');

                // 把返回的数组加到观察数组
                if (result.list != null) {

                    for (var i = 0; i < result.list.length; i++) {

                        var subject = result.list[i].name;
                        var count = result.list[i].count;

                        // 加载栏目数组里
                        model.subjects.push(subject);

                        var subjectDiv =
                            "<div id='_subject_" + subject + "'>"
                                + "<div id='_subject_title'><h3>" + subject + "("+count+")</h3></div>"
                                + "<div class='pending' >"
                                    + "<label>su-" + subject + "</label>"
                                    + "<img src='../img/wait2.gif' />"
                                    +"<span>"+libId+"</span>"
                                + "</div>"
                            + "</div>";

                        //alert(subjectDiv);
                        $("#_subject_main").prepend(subjectDiv);
                    }
                }
                model.userName(result.userName);

                // 设置发布按钮是否可用
                if (result.userName != "" && result.userName != null) {
                    //
                    $("#divNew").css('display', 'block');
                }
                else {
                    $("#divNew").css('display', 'none');
                }

                window.setTimeout("fillPending()", 1);

            }, function (xhq, textStatus, errorThrown) {

                alert("访问服务器出错：\r\n"+errorThrown);
                // 关闭等待层
                layer.close(index);
            });
        }

        // 改变图书馆
        function libChanged() {
            getSubject();
        }

        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            ko.applyBindings(model);

            // 获取所有的操作命令
            getSubject();

            // 设顶部菜单不固定
            $("#myheader").css("position", "absolute");

            $("#selLib").change(function () {
                libChanged();
            });
        })

        function gotoBookMsg(obj)
        {
            var libId = $("#selLib").val();
            var userName = model.userName();
            var subject = $(obj).prop("title");

            if (userName == null)
                userName = "";

            //var returnUrl = "/Library/BookSubject?libId=" + libId;
            var url = "/Library/BookMsg?libId=" + libId
                + "&userName=" + encodeURIComponent(userName)
                + "&subject=" + encodeURIComponent(subject);
            //+ "&returnUrl=" + encodeURIComponent(returnUrl);

            //alert(url);
            gotoUrl(url);
        }

        // 在新增消息，点击取消
        function cancelEdit(msgId) {
            if (msgId == null || msgId == "") {
                alert("未传入msgId");
                return;
            }

            var divId = "#_edit_" + msgId; // div的id命令规则为_edit_msgId


            //显示态html
            var viewHtml = "";

            if (msgId == "new") {
                //创建按钮不可见
                $("#btnCreate").css('display', 'block');
                $(divId).html(viewHtml);
                return;
            }

            // 根据id获取显示态html
            $(divId).html(viewHtml);

        }
        function gotoEdit(msgId) {
            if (msgId == null || msgId == "") {
                alert("未传入msgId");
                return;
            }

            if (msgId == "new")
            {
                //创建按钮不可见
                $("#btnCreate").css('display', 'none');
            }

            var title = "";



            var subjectHtml = getSubjectHtml();
            var formHtml = "<div class='mui-input-group' >"
                + "<div class='mui-input-row' style='border-bottom:0px'>"
                    + "<label class='leftLabel'>栏目</label>"
                    + subjectHtml
                + "</div>"
                + "<div>"
                    + "<div class='mui-input-row' id='divNewSubject' style='display:none;border-bottom:0px'>"
                    + "<label class='leftLabel'>&nbsp;</label>"
                    + "<input type='text' id='_val_subject' name='subject' style='border:1px solid #CCCCCC;border-bottom:0px' value='' />"
                + "</div>"
                + "<div class='mui-input-row' style='border-bottom:0px'>"
                    + "<label class='leftLabel'>标题</label>"
                    + "<input type='text' id='_val_title' class='mui-input mui-input-clear' style='border:1px solid #CCCCCC' name='title' value=''>"
                + "</div>"
                + "<div class='mui-input-row' style='border-bottom:0px;height:100px'>"
                    + "<label class='leftLabel' style='width:20%;'>注释</label>"
                    + "<textarea rows='6' id='_val_remark' style='border:1px solid #CCCCCC;border-top:0px;   padding:2px' name='remark'></textarea>"
                + "</div>"
                + "<div class='mui-input-row' style='border-bottom:0px;height:100px'>"
                    + "<label class='leftLabel'>内容</label>"
                    + "<textarea rows='6' id='_val_content' style='border:1px solid #cccccc' name='content'></textarea>"
                + "</div>"
                + "<div class='mui-input-row ' style='border-bottom:0px;'>"
                    + "<label class='leftLabel'>发布时间</label>"
                    + "<input type='text' class='mui-input mui-input-clear' style='border:1px solid #cccccc;background-color:#dddddd' disabled='disabled' name='publishTime' value=''>"
                + "</div>"
                + "<div class='mui-input-row ' style='border-bottom:0px;'>"
                    + "<label class='leftLabel'>发布人</label>"
                    + "<input type='text' class='mui-input mui-input-clear' style='border:1px solid #cccccc;background-color:#dddddd' disabled='disabled' name='creator' value=''>"
                + "</div>"
                + "</div>";
            var btnHtml = "<div class='mui-content-padded'>"
                + "<button class='mui-btn mui-btn-primary' onclick=\"save('"+msgId+"')\">发布</button>&nbsp;&nbsp;"
                +"<button class='mui-btn mui-btn-default' onclick=\"cancelEdit('"+msgId+"')\">取消</button>"
                + "</div>";

            var editHtml = formHtml + btnHtml;

            var divId = "#_edit_" + msgId; // div的id命令规则为_edit_msgId
            $(divId).html(editHtml);

        }


        function getSubjectHtml() {
            var opt = "<option value=''>请选择 栏目</option>";


            for (var i = 0; i < model.subjects().length; i++) {
                var subject = model.subjects()[i];

                var selectedString = "";
                if (model.selSubject() != "" && model.selSubject() == subject) {
                    selectedString = " selected='selected' ";
                }
                opt += "<option value='" + subject + "' " + selectedString + ">" + subject + "</option>";
            }

            //加自定义栏目
            opt += "<option value='new'>自定义栏目</option>";
            var onchange = " onchange='subjectChanged()' ";

            return "<select id='selSubject' style='padding-left: 0px;width: 65%;'  " + onchange + " >" + opt + "</select>";

        }

        // 保存完后，显示一条消息
        function viewMsg(msgId,msgItem)
        {

            var divId = "#_edit_" + msgId; // div的id命令规则为_edit_msgId

            var msgViewHtml = getMsgViewHtml(msgItem);


            if (msgId == "new") {

                // 得到完整的div
                var msgViewHtml = getMsgViewHtml(msgItem, true);

                var subject = $("#_val_subject").val(); //
                // 要先找下同名的subject，如果不存在，新创建一个subject div放在最上面
                var subjectObj = $("#_subject_main").children("#_subject_" + subject);
                if (subjectObj.html() != null) {  //注意这里要用html()
                    //alert("1");

                    //_subject_
                    var titleObj = $(subjectObj).find("#_subject_title");
                    $(msgViewHtml).insertAfter(titleObj);
                }
                else {
                    // 给框架加一条栏目
                    model.subjects.push(subject);
                    model.selSubject(subject); // 设当前选择的栏目

                    //alert("2");
                    var subjectDiv = "<div id='_subject_" + subject + "'>"
                        + "<div id='_subject_title'><h3>" + subject + "(1)</h3></div>"  //<h3>" + subject + "("+count+")</h3>
                        + msgViewHtml
                        + "</div>";

                    //alert(subjectDiv);
                    $("#_subject_main").prepend(subjectDiv);
                }

                //创建按钮不可见
                $("#btnCreate").css('display', 'block');
                $(divId).html("");

                return;
            }


            // 拼出内部的html，直接替换原来内容
            var msgViewHtml = getMsgViewHtml(msgItem, false);
            $(divId).html(msgViewHtml);
        }
        
        // 保存
        function save(msgId)
        {
            if (msgId == null || msgId == "") {
                alert("未传入msgId");
                return;
            }

            // subject
            var subject = $("#_val_subject").val(); //
            if (subject == "")
            {
                alert("请先选择栏目");
                return;
            }

            var divId = "#_edit_" + msgId; // div的id命令规则为_edit_msgId

            var action = "";
            if (msgId == "new") {
                action = "POST";
            }
            else {
                action = "PUT";
            }


            var title = $("#_val_title").val();
                if (title == "") {
                    alert("请输入标题。");
                    return;
                }
                var remark = $("#_val_remark").val();

                var content = $("#_val_content").val();
                if (content == "") {
                    alert("请输入内容。");
                    return;
                }
                //alert(content);

                var libId = $("#selLib").val();// $("#libId").text();
                if (libId == "") {
                    alert("异常情况：libId为空。");
                    return;
                }

                var userName = model.userName(); 
                if (userName == "") {
                    alert("异常情况：userName为空。");
                    return;
                }


                var group = "gn:_lib_homePage";

                //显示等待图层
                var index = loadLayer();

                var id = "";
                if (msgId != "new")
                    id = msgId;

                var url = "/api/LibMessage"
                    + "?group=" + group
                    + "&libId=" + libId;
                sendAjaxRequest(url, action,
                    function (result) {

                        // 关闭等待层
                        layer.close(index);

                        if (result.errorCode == -1) {
                            alert("操作失败：" + result.errorInfo);
                            return;
                        }

                        alert("操作成功");

                        if (result.items == null || result.items.length == 0)
                        {
                            alert("未返回保存后的消息对象");
                        }

                        var item = result.items[0];

                        alert("回来的消息标题:"+item.title);
                        viewMsg(msgId,item);

                    },
                    function (xhq, textStatus, errorThrown) {
                        alert(errorThrown);
                        // 关闭等待层
                        layer.close(index);
                    },
                    {
                        id: id,
                        title: title,
                        content: content,
                        creator: userName,
                        subject: subject,
                        remark: remark
                    }
                );
            

            



        }



        // 将选择的subject设到输入框中
        function subjectChanged() {
            var subValue = $("#selSubject").val();

            //alert(subValue);

            if (subValue == "new") {
                $("#divNewSubject").css('display', 'block');
                $("#_val_subject").val("");
                //$("#txtSubject").css('display', 'block');
            }
            else {
                $("#divNewSubject").css('display', 'none');
                $("#_val_subject").val(subValue);
            }
        }


    </script>
}
@section header {
    <h1 class="mui-title">图书馆主页</h1>
}
<span id="weixinId" style="display:none">@Session[dp2weixin.service.WeiXinConst.C_Session_WeiXinId]</span>

<div>
    <div class="mui-input-group">
        <div class="mui-input-row">
            <label style="color:#cccccc;">图书馆</label>
            @Html.Raw(ViewBag.LibHtml)
        </div>
    </div>
</div>

<div class="mui-card" id="divNo" style="margin-top:10px;display:none">
    <center>
        <img src='../img/empty2.jpg' width='100' height='100' style=" padding-top:5px" />
        <div>目前没有栏目。</div>
    </center>
</div>
<div id="divNew" class="mui-content-padded" style="display:none">
    <div id='_edit_new'></div>
    <button id="btnCreate" class="mui-btn mui-btn-block mui-btn-primary" onclick="gotoEdit('new')">
        新发布信息
    </button>
</div>

<div class="mui-content-padded"  id="_subject_main">

</div>

