@section Scripts {
    <script>


    </script>
}

@section style {

    <style>

        TABLE.item {
            width: 100%;
            table-layout: fixed;
        }

        TABLE.item TD {
            padding-left: 2px;
        }


        TABLE.item TD.first {
            width: 1px;
            background-color: #eeeeee;
            border-right: 0px solid #CCCCCC;
        }

        TABLE.item TD.first2 {
            width: 15px;
            background-color: #eeeeee;
            border-right: 1px solid #CCCCCC;
        }

        TABLE.item TD.name {
            width: 80px;
            white-space: nowrap;
            border-right: 1px solid #dddddd;
            color: gray;
            padding-left: 2px;
            background-color: #eeeeee;
        }

        TABLE.item TD.value {
        }

        TABLE.item TD.borrowInfo {
            text-align: center;
            white-space: nowrap;
            background-color: #B4B400;
            color: #FFFFFF;
            font-size: 20px;
            font-weight: bold;
        }

        TABLE.item TD.value DIV.summary {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}

@section header {
    <h1 class='mui-title'>选择册</h1>
}

<div class='mui-content-padded'>
    <table style='width:100%;margin:0px;padding:0px' align='center'>
        <tbody>
            <tr>
                <td style='width:100px'>
                    <select id='selFrom' style='padding:0px;margin:0px;height:40px'>
                        <option value='<all>'>全部</option>
                        <option value='ISBN' selected=''>ISBN</option>
                        <option value='title'>题名</option>
                    </select>
                </td>
                <td>
                    <input style='padding:0px;margin:0px;height:40px' id='txtWord' placeholder='请输入检索词' onkeydown='wordEnter(event)' value='978-7-5110-2049-9' type='text'>
                </td>
                <td width='40px'>
                    <button style='height:40px' id='login' class='mui-btn mui-btn-primary' onclick='search(' ')'>检索</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div class='mui-card' style='margin-bottom:10px '>
    <table class="item" style=''>
        <tbody>
            <tr>
                <td class='first'></td>
                <td class='name'>册条码号</td>
                <td class='value'>C001</td>
            </tr>
            <tr>
                <td class='first'></td>
                <td class='name'>状态</td>
                <td class='value'></td>
            </tr>
            <tr>
                <td class='first'></td>
                <td class='name'>在借情况</td>
                <td class='borrowInfo'>任1</td>
            </tr>
            <tr>
                <td class='first'></td>
                <td class='name'>书目摘要</td>
                <td class='value'>
                    <div class='summary' style='' title='我从彩虹那边来 [专著]  : 如何养育 978-7-5110-2049-9'>我从彩虹8-7-5110-2049-9</div>
                </td>
            </tr>
            <tr>
                <td class='first'></td>
                <td class='name'>卷册</td>
                <td class='value'></td>
            </tr>
            <tr>
                <td class='first'></td>
                <td class='name'>馆藏地</td>
                <td class='value'>流通库</td>
            </tr>
            <tr>
                <td class='first'></td>
                <td class='name'>价格</td>
                <td class='value'></td>
            </tr>
            <tr>
                <td class='first'></td>
                <td class='name'>册记录路径</td>
                <td class='value'>中文图书实体/53</td>
            </tr>
        </tbody>
    </table>
</div>