
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section header {
    <h1 class="mui-title">自助借还</h1>
}

@section style {
    <style>
 .div-button{
            width: 300px;
            height: 200px;
            margin: 30px 20px;

            /*border: 1px solid red;*/
            line-height: 200px;/*设置line-height与父级元素的height相等*/
            text-align: center; /*设置文本水平居中*/
            font-size:48pt;
            overflow: hidden; /*防止内容超出容器或者产生自动换行*/
             background-color:gray;
            color:black;
            float:left;
            border-radius:10px;
        }
        .borrow {
            background-color:#33CCFF;
        }

        .return {
            background-color:#33CC66;
        }

                .search {
            background-color:#FDDD5D;
        }

    </style>
}

@section Scripts {
    <script>

        // 借书
        function checkout() {
            //alert("借书");

            var url = "/Library/SelfServiceFlow?operationType=borrow";
            gotoUrl(url);
        }

        // 还书
        function checkin() {
            //alert("还书");

            var url = "/Library/SelfServiceFlow?operationType=return";
            gotoUrl(url);
        }

        // 查书
        function search() {
            alert("图书查询");

            //var url = "/Library/SearchBook";
            //gotoUrl(url);
        }

    </script>
    }
@{
    
    string borrowClass = "borrow";
    string borrowClick = "checkout()";
    if (ViewBag.canBorrow == false)
    { 
        borrowClass = "";
        borrowClick = "";
    }

    string returnClass = "return";
    string returnClick = "checkin()";
    if (ViewBag.canReturn == false)
    {
        returnClass = "";
        returnClick = "";
    }
        
}
<div class="div-button @borrowClass "  onclick="@borrowClick">借书</div>
<div class="div-button @returnClass " onclick="@returnClick">还书</div>
<div class="div-button search" onclick="search()">查书</div>