@{
    ViewBag.Title = "联系我们";
}

@section header {
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">联系我们</h1>
    </header>
}

<div class="container" style="background-color: rgba(255,255,255,0.7);">
    <hgroup class="page-header">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    <p class="contact">
        数字平台(北京)软件有限责任公司<br />
        http://dp2003.com<br />
        地址：北京市海淀区中关村南大街46号中国气象局南区8号楼121室<br />
    </p>
</div>