@{
    ViewBag.Title = "联系我们";
}

@section header {
        <h1 class="mui-title">联系我们</h1>
}

<div class="mui-content-padded">
    <p class="contact">
        数字平台(北京)软件有限责任公司<br />
        http://dp2003.com<br />
        地址：北京市海淀区中关村南大街46号中国气象局南区8号楼121室<br />
    </p>
</div>