@section header {
    <h1 class="mui-title">联系开发者</h1>
}

@section Scripts {


    <script>

        function test() {

            wx.scanQRCode({
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    alert("扫码返回结果为：" + result);
                    return result;
                },
                cancel: function (res) {
                    alert('取消');
                    return "";
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                    return "";
                }
        }


    </script>
}

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    <div class="mui-content-padded">
        <p class="contact">
            数字平台(北京)软件有限责任公司<br />
            http://dp2003.com<br />
            email: xietao@dp2003.com<br />
        </p>
    </div>
    <span>@ViewBag.WeixinIds</span>

    <div class="mui-content-padded">
        <button id='btnScan' class="mui-btn mui-btn-default" onclick="test()">扫码</button>
    </div>
}