@{
    ViewBag.Title = "关于我们";
}
@section Scripts {
    <script>

        function getDetail() {

            var libId = $("#selLib").val();
            if (libId == "")
            {
                alert("尚未选择图书馆");
                return;
            }
            var biblioPath = $("#txtWord").val();//"中文图书/78";//mylable.text();

            //alert(biblioPath);
            var url = "/api/biblio?libId=" + encodeURIComponent(libId) + "&biblioPath=" + encodeURIComponent(biblioPath);

            //alert(url);

            //显示等待图层
            var index = loadLayer();

            // 调api
            sendAjaxRequest(url, "GET", function (result) {

                // 关闭等待层
                layer.close(index);

                //alert("回来[" + result.errorCode+"]");
                var o = $("#result");

                // 出错或未命中
                if (result.errorCode == -1 || result.errorCode == 0) {
                    o.html(result.errorInfo);
                    $(o).css("color", "red");  //设置p元素的样式颜色为红色
                    return;
                }

                var itemTables = "";
                if (result.itemList.length == 0)
                    itemTables = "<div>该书没有下级册信息。</div>"

                for (var i = 0; i < result.itemList.length; i++) {
                    var record = result.itemList[i];

                    itemTables += "<table style='width:100%;padding:10px;text-align:left'>"
                    + "<tr>"
                    + "<td style='min-width:80px;text-align:right;color:#CCCCCC;padding-left:0px'>册条码：</td>"
                    + "<td style='text-align:left;width:80%'>" + record.barcode + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td style='min-width:80px;text-align:right;color:#CCCCCC;'>状态：</td>"
                    + "<td style='text-align:left'>" + record.state + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td style='min-width:80px;text-align:right;color:#CCCCCC;'>卷册：</td>"
                    + "<td style='text-align:left'>" + record.volumn + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td style='min-width:80px;text-align:right;color:#CCCCCC;'>馆藏地：</td>"
                    + "<td style='text-align:left'>" + record.location + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td style='min-width:80px;text-align:right;color:#CCCCCC;'>价格：</td>"
                    + "<td style='text-align:left'>" + record.price + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td style='min-width:100px;text-align:right;color:#CCCCCC;'>在借情况：</td>"
                    + "<td style='text-align:left'>" + record.borrowInfo + "</td>"
                    + "</tr>"
                    + "<tr>"
                    + "<td>&nbsp;</td><td>"
                    + "<button class='mui-btn mui-btn-primary' onclick='alert(\"todo\")'>预约</button>"
                    + "</td>"
                    + "</tr>"
                    + "</table>";
                }

                //换成实际的值，去掉pending状态，
                var myHtml = "<span>" + result.summary + "</span>" + itemTables;
                o.html(myHtml);
            }, function (xhq, textStatus, errorThrown) {

                // 关闭等待层
                layer.close(index);

                //换成实际的值，去掉pending状态，继续下一个pending
                o.html("访问服务器出错：[" + errorThrown + "]");
            });
            return;
        }

    </script>
}
@section header {
    <h1 class="mui-title">测试</h1>
}


<div class="mui-input-group">
    <div class="mui-input-row ">
        <label style="color:#cccccc;">图书馆</label>
        @Html.Raw(ViewBag.LibHtml)
    </div>
    <div class="mui-input-row">
        <label style="color:#cccccc">书目路径</label>
        <input id="txtWord" type="text" class="mui-input mui-input-clear">
    </div>
</div>
<div class="mui-content-padded">
    <button id='login' class="mui-btn mui-btn-block mui-btn-primary" onclick="getDetail()">get summary and items</button>
</div>
<div id="result"></div>
