@model  dp2weixinWeb.Models.MessageModel
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@section header {
    <h1 class="mui-title">微信消息测试</h1>
}
@section Scripts {
    <script>

        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {
            $("#RequestMsg").focus();
        });
    </script>
}

@using (Html.BeginForm("WeixinMessage", "home", FormMethod.Post, new { @class = "form-horizontal", @defaultbutton = "btnSend" }))
{
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" style="color:gray">request</label>
        <div class="col-sm-10">
            <input type="text" id="RequestMsg" name="RequestMsg" class="form-control" placeholder="请输入消息">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary btn-lg" id="btnSend" data-bind="click: addLib">发送</button>
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label" style="color:gray">response</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="10" readonly>@Model.ResponseMsg</textarea>
            <span style="color:blue">您刚才发的消息是:[@Model.RequestMsg]</span>
        </div>
    </div>


}
