
@{
    ViewBag.Title = "WeixinMessage";
}
<form id="form1" action="home/WeixinMessagePost">
    <div>
        <b>request:</b>
        <br />
        <asp:TextBox ID="txtMessage" runat="server" Width="429px"></asp:TextBox>
        <asp:Button ID="btnSend" runat="server" Text="send" OnClick="btnSend_Click" BackColor="#FF9933" />

        <br />
        <asp:Label ID="lblMessage" runat="server" Text="" BackColor="#66ccff"></asp:Label>
        <br />
        <br />
        <b>response:</b>
        <br />
        <asp:TextBox ID="txtResult" runat="server" Height="255px" Width="860px" TextMode="MultiLine" Rows="5">@ViewBag.msgResult</asp:TextBox>
        <br />
    </div>
</form>