@{
    ViewBag.Title = "关于我们";
}

<div class="container" style="background-color: rgba(255,255,255,0.7);">

    <hgroup class="page-header">
        <h1>@ViewBag.Title</h1>
    </hgroup>

    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;数字平台(北京)软件有限责任公司创立于2003年，公司位于中国第一个国家级高新技术产业开发区——中关村科技园区内，是经北京市科学技术委员会核准认定的高新技术企业。
        公司创始人有多年的图书情报行业从业经验。<br />
        &nbsp;&nbsp;&nbsp;&nbsp;数字平台这一公司名，表明它是一家致力于为数字化信息处理提供专用平台的技术型的公司。
    </p>

</div>
