@{
    ViewBag.Title = "联系我们";
}

<hgroup class="page-header">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p>
    数字平台(北京)软件有限责任公司<br />
    http://dp2003.com<br/>
    地址：北京市海淀区中关村南大街46号中国气象局南区8号楼121室<br />
</p>
