@{
    ViewBag.Title = "主页";
}

<div class="container" style="background-color: rgba(255,255,255,0.7);">
    <div class="page-header">
        <h1>Welcome!</h1>
    </div>

    <p>Web图书馆管理系统</p>


</div>