
/*=======消息div===========*/
DIV.message {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    display: inline-block;
    margin: 5px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    font-size: 14.8px;
    /*background-color: green;*/
}

    /*消息div下的table*/
    DIV.message TABLE {
        /*width: 100%;*/
        /*background-color: red;*/
    }

    /*=======消息查看态===========*/
    DIV.message DIV.view {
        /*background-color:blue;*/
    }

        DIV.message DIV.view TABLE.view-top {
            /*background-color:green;*/
        }

            /*消息标题*/
            DIV.message DIV.view TABLE.view-top .title {
                font-size: 25px;
                padding-bottom: 10px;
            }

            /*标题右侧的按钮*/
            DIV.message DIV.view TABLE.view-top .btn {
                text-align: right;
                padding-right: 10px;
            }

            /*消息发布时间*/
            DIV.message DIV.view TABLE.view-top .time {
                color: gray;
                font-size: 12px;
            }

        /*消息内容*/
        DIV.message DIV.view DIV.content {
        }

             .name {
                width: 110px;
                min-width: 110px;
                display: inline-block;
                padding: 2px;
                color: gray;
                text-align: left;
                /*border-right:1px solid #CCCCCC;*/
            }

            DIV.message DIV.view DIV.content .value {
                font-weight: bold;
                padding: 2px;
                display: inline-block;
            }

        /*备注*/
        DIV.message DIV.view DIV.remark {
            color: gray;
            font-size: 12px;
        }

    /*=============*/
    /*消息编辑态标题*/
    DIV.message INPUT, SELECT {
        margin-bottom: 0px;
    }

    div.message table.edit {
        /*background-color: gray;*/
    }

        DIV.message TABLE.edit tr td {
            padding: 5px;
        }

            DIV.message TABLE.edit tr td.label {
                /*background-color: yellow;*/
                vertical-align: middle;
                width: 100px;
                min-width: 100px;
            }

            DIV.message TABLE.edit tr td.value {
                /*width: 100%;*/
                /* background-color:red;*/
            }

            DIV.message TABLE.edit tr td span.label {
                color: #999999;
            }

        DIV.message TABLE.edit select {
            font-size: 17px;
            height: 37px;
            padding: 0px;
            margin: 0px;
        }

        DIV.message TABLE.edit input, textarea {
            padding: 5px;
            margin: 0px;
        }

/*======是否可编辑态样式=============*/
.msgEditable {
    background-color: #f2eada;
}
