@section Scripts {
    <script>

        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            // 重新输入密码框打回车时，
            $('#password2').bind('keypress', function (event) {
                if (event.keyCode == "13") {
                    changePassword();
                }
            });


        })

        // 修改密码
        function changePassword() {



            // 先置空提示信息
            $("#warnText").html("");

            var libId = getLibId();
            if (libId == "") {
                alert("异常情况:libId值不应该为空");
                return;
            }

            var patron = $("#patron").val();;
            if (patron == "") {
                alert("异常情况:patron值不应该为空");
                return;
            }

            var gnl = confirm("您["+patron+"]确认修改密码吗?");
            if (gnl == false) {
                return false;
            }

            // 旧密码
            var oldPassword = $("#oldPassword").val();
            //if (oldPassword=="") {
            //    alert("您尚未输入旧密码。");
            //    return;
            //}

            // 新密码
            var newPassword = $("#newPassword").val();
            //if (newPassword == "") {
            //    alert("您尚未输入新密码。");
            //    return;
            //}

            // 重输新密码
            var newPassword2 = $("#newPassword2").val();;
            if (newPassword != newPassword2) {
                alert("您2次输入的密码不一致，请重新输入。");

                return;
            }

            if (newPassword == oldPassword) {
                alert("您输入的新密码与旧密码相同，请重新输入。");
                return;
            }

            //显示等待图层
            var index = loadLayer();
            // 调web api获取临时密码
            var url = "/api/wxuser?libId=" + libId
                + "&patron=" + encodeURIComponent(patron)
                + "&oldPassword=" + encodeURIComponent(oldPassword)
                + "&newPassword=" + encodeURIComponent(newPassword);
            sendAjaxRequest(url, "POST", function (result) {

                // 关闭等待层
                layer.close(index);

                // 出错，或者由于条件限制未成功
                if (result.errorCode == -1 || result.errorCode == 0) {
                    var info = "操作未成功：" + result.errorInfo;
                    alert(info);
                    $("#warnText").html(info);
                    $("#warnText").css("color", "red");  //设置p元素的样式颜色为红色
                    return;
                }

                alert("密码修改成功。");

                $("#warnText").html("密码修改成功。");
                $("#warnText").css("color", "darkgreen");  //设置p元素的样式颜色为绿色


                // 清空输入框
                $("#oldPassword").val("");
                $("#newPassword").val("");
                $("#newPassword2").val("");

            }, function (xhq, textStatus, errorThrown) {
                var error = "操作未成功,访问服务器错误：" + errorThrown;
                alert(error);
                $("#warnText").html(error);
                $("#warnText").css("color", "red");  //设置p元素的样式颜色为红色
            });

        }

    </script>
}
@section header {
    <h1 class="mui-title">修改密码</h1>
}

@if (String.IsNullOrEmpty(ViewBag.Error) == false)
{
    <div class="mui-content-padded">
        <span class="errorinfo">
            @Html.Raw(ViewBag.Error)
        </span>
    </div>
}
else
{
    <div class="mui-input-group">
        <div class="mui-input-row ">
            <label id="lblAccount" style="color:#333333">证条码号</label>
            <input id='patron' disabled="disabled" type="text" class="mui-input mui-input-clear" value="@ViewBag.patronBarcode">
        </div>
        <div class="mui-input-row">
            <label style="color:#333333">旧密码</label>
            <input id="oldPassword" type="password" class="mui-input-password" placeholder="请输入 旧密码">
        </div>
        <div class="mui-input-row">
            <label style="color:#333333">新密码</label>
            <input id="newPassword" type="password" class="mui-input-password" placeholder="请输入 新密码">
        </div>
        <div class="mui-input-row">
            <label style="color:#333333">确认新密码</label>
            <input id="newPassword2" type="password" class="mui-input-password" placeholder="请再次输入新密码">
        </div>
    </div>

    <div class="mui-content-padded">
        <button id='login' class="mui-btn mui-btn-block mui-btn-primary" onclick="changePassword()">修改密码</button>
        <span style="color:red" id="warnText"></span>
    </div>
}
