@section Scripts {
    <script>

        //观察模型
        var model = {
            wxUsers: ko.observableArray()        
        }


        //用于所有微信用户
        function getBindList(weixinId) {
            //显示等待图层
            var index = loadLayer();
           
            // 先删除可观察数组中的已有数据
            model.wxUsers.removeAll();

            // 调web api
            var url = "/api/wxuser?weixinId=" + weixinId;
            sendAjaxRequest(url, "GET", function (data) {

                //$("#id").css('display', 'none');
                //$("#id").css('display', 'block');
                if (data.length == 0)
                    $("#divNoBind").css('display', 'block');
                else
                    $("#divNoBind").css('display', 'none');
                for (var i = 0; i < data.length; i++) {
                    //遍历从服务器得到的结果，以push方法对该数组填充新数据
                    model.wxUsers.push(data[i]);

                    //alert(data[i].libCode);
                }

                // 关闭等待层
                layer.close(index);

            }, function (xhq, textStatus, errorThrown) {

                alert(errorThrown);
                // 关闭等待层
                layer.close(index);
            });
        }

        // 删除一项
        function removeUser(item) {

            var gnl = confirm("你确定要删除账号[" +item.readerName+ "]吗?");
            if (gnl == false) {
                return false;
            }

            //alert("remove-"+item.libId);
            var url = "/api/wxuser/" + item.id;
            sendAjaxRequest(url, "DELETE", function () {
                getBindList(item.weixinId);

                /*
                for (var i = 0; i < model.wxUsers().length; i++) {
                    if (model.wxUsers()[i].id == item.id) {
                        model.wxUsers.remove(model.wxUsers()[i]);
                        break;
                    }
                }
                */
            }, function (xhq, textStatus, errorThrown) {
                alert(errorThrown);
            });
        }

        // 设为默认
        function activeUser(item) {
            //alert("remove-"+item.libId);
            var url = "/api/wxuser?weixinId=" + item.weixinId + "&id=" + item.id;
            sendAjaxRequest(url, "PUT", function () {
                getBindList(item.weixinId);

            }, function (xhq, textStatus, errorThrown) {
                alert(errorThrown);
            });
        }

        // 跳转到新增绑定
        function goToBind()
        {
            var myUrl = getRootPath() + '/account/bind?returnUrl=' + encodeURIComponent("/account/index");
            //mui.openWindow({
            //    url: myUrl,
            //    id: 'info'
            //});
            window.location = myUrl;//"/account/bind";

        }

        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {
            //alert("ready1");

            // 获取所有的操作命令
            var weixinId = $("#weixinId").text();
            getBindList(weixinId);

            ko.applyBindings(model);
        });

    </script>
}
@section style {

}

@section header {
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">账号管理</h1>
</header>
}
<span id="weixinId" style="display:none">@Session[dp2weixin.service.WeiXinConst.C_Session_WeiXinId]</span>
<div class="mui-content-padded" id="divNoBind" style="display:none;">
    <center>
        <img src='../img/emptyBind.png' width='100' height='100' style=" padding-top:5px" />
        <div>您尚未绑定账号。</div>
    </center>
</div>

<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" data-bind=" foreach:model.wxUsers">
    <li class="mui-table-view-cell" >
        <table>
            <tr>
                <td>读者：</td>
                <td>
                    <span data-bind="text:readerName"></span>
                    <span data-bind="text:readerBarcode"></span>
                </td>
            </tr>
            <tr>
                <td>图书馆：</td>
                <td>
                    <span data-bind="text:libName"></span>(<span data-bind="text:libCode"></span>)
                </td>
            </tr>
        </table>
        <table style="width:100%">
            <tr>
                <td>
                    <span data-bind="if: isActive==1"><font color='darkgreen'>*&nbsp;默认地址</font></span>
                    <span data-bind="ifnot: isActive==1"><button class="mui-btn mui-btn-primary " data-bind="click: activeUser">设为默认</button></span>

                </td>
                <td width="50%" align="right">
                    <button type="button" class="mui-btn mui-btn-danger" data-bind="click: removeUser">
                        X&nbsp;删除
                    </button>
                </td>
            </tr>
        </table>
    </li>
</ul>
<div class="mui-content-padded">
    <button class="mui-btn mui-btn-block mui-btn-primary" onclick="goToBind()">新增绑定账号</button>
</div>
