@{
    ViewBag.Title = "绑定图书馆账号";
}

@section Scripts {
    <script>

        var model = {
            wxUsers: ko.observableArray(),
            editor: {
                lib: ko.observable(""),
                libCode: ko.observable(""),
                libUserName: ko.observable(""),
                prefix: ko.observable("-1"),
                word: ko.observable(""),
                password: ko.observable("")
            },
            displayPage: ko.observable(1),

            // 图书馆
            librarys: ko.observableArray()
        }


        //用于获取图书馆
        function getAllLib() {
            //显示等待图层
            var index = loadLayer();

            //alert("getAllLib");

            // 先删除可观察数组中的已有数据
            model.librarys.removeAll();

            // 调web api
            var url = "/api/library";
            sendAjaxRequest(url, "GET", function (data) {
                for (var i = 0; i < data.length; i++) {
                    //遍历从服务器得到的结果，以push方法对该数组填充新数据
                    model.librarys.push(data[i]);
                }

                // 关闭等待层
                layer.close(index);

            }, function (xhq, textStatus, errorThrown) {

                alert(errorThrown);
                // 关闭等待层
                layer.close(index);
            });
        }


        //用于所有微信用户
        function getBindList(weixinId) {
            //显示等待图层
            var index = loadLayer();

            // 先删除可观察数组中的已有数据
            model.wxUsers.removeAll();

            // 调web api
            var url = "/api/wxuser?weixinId=" + weixinId;
            sendAjaxRequest(url, "GET", function (data) {
                for (var i = 0; i < data.length; i++) {
                    //遍历从服务器得到的结果，以push方法对该数组填充新数据
                    model.wxUsers.push(data[i]);

                    //alert(data[i].libCode);
                }

                // 关闭等待层
                layer.close(index);

            }, function (xhq, textStatus, errorThrown) {

                alert(errorThrown);
                // 关闭等待层
                layer.close(index);
            });
        }

        // 删除一项
        function removeUser(item) {
            //alert("remove-"+item.libId);
            var url = "/api/wxuser/" + item.id;
            sendAjaxRequest(url, "DELETE", function () {
                getBindList(item.weixinId);

                /*
                for (var i = 0; i < model.wxUsers().length; i++) {
                    if (model.wxUsers()[i].id == item.id) {
                        model.wxUsers.remove(model.wxUsers()[i]);
                        break;
                    }
                }
                */
            }, function (xhq, textStatus, errorThrown) {
                alert(errorThrown);
            });
        }

        // 设为默认
        function activeUser(item) {
            //alert("remove-"+item.libId);
            var url = "/api/wxuser?weixinId=" + item.weixinId + "&id=" + item.id;
            sendAjaxRequest(url, "PUT", function () {
                getBindList(item.weixinId);

            }, function (xhq, textStatus, errorThrown) {
                alert(errorThrown);
            });
        }




        //$(document).ready调用是jQuery推迟函数执行的一项标准技术，
        //它直到浏览器加载并处理了文档的所有HTML元素之后才会执行。
        $(document).ready(function () {

            // 获取所有的操作命令
            var weixinId = $("#weixinId").text();
            
            getAllLib();
            getBindList(weixinId);            
            $("#selPrefix option").eq(1).attr("selected", "selected");//prop("checked", true);

            
            ko.applyBindings(model);
        })

        // 新增一项
        function bind() {



            var libCode = model.editor.libCode().trim();
            if (libCode == "") {
                alert("您尚未选择图书馆。");
                return;
            }

            var libUserName = model.editor.libUserName().trim();
            if (libUserName == "") {
                alert("该图书馆dp2mserver账号为空。");
                return;
            }

            
            // 不需判断为空
            var prefix = model.editor.prefix().trim();
            if (prefix == "-1") {
                alert("您尚未选择绑定方式。");
                return;
            }
            //alert("prefix[" + prefix + "]");

            var curText = $('#selPrefix option:checked').text();
            var word = model.editor.word().trim();
            if (word == "") {
                alert("您尚未输入"+curText+"。");
                return;
            }
            //alert("word[" + word + "]");


            var password = model.editor.password().trim();
            if (password == "") {
                alert("您尚未输入密码。");
                return;
            }
            //alert("password[" + password + "]");

            // 检查一下libcode与fullword在前端已存在todo
            var fullWord = word;
            if (prefix != "")
                fullWord = prefix + ":" + word;
            for (var i = 0; i < model.wxUsers().length; i++) {
                //遍历从服务器得到的结果，以push方法对该数组填充新数据
                var item = model.wxUsers()[i];

                if (item.libCode == libCode && item.fullWord == fullWord)
                {
                    alert("您已绑定图书馆[" +item.libCode+"]的读者[" +word+"]，请不要重复绑定。");
                    return;
                }
            }


            //显示等待图层
            var index = loadLayer();

            var weixinId = $("#weixinId").text();
            var url = "/api/wxuser";
            sendAjaxRequest(url, "POST",
                function (result) {

                    // 关闭等待层
                    layer.close(index);

                    if (result.apiResult.errorCode == -1) {
                        openMsg(result.apiResult.errorInfo);

                        return;
                    }

                    //加到列表中
                    //if (result.userItem !=null)
                    //    model.wxUsers.push(result.userItem);
                    getBindList(weixinId);

                    //显示列表页
                    model.displayPage(1);

                    //清空编辑界面信息,前三项可以不清除
                    //model.editor.libCode("");
                    //model.editor.libUserName("");
                    //model.editor.prefix("-1");
                    model.editor.word("");
                    model.editor.password("");

                    // 关闭等待层
                    //layer.close(index);
                },
                function (xhq, textStatus, errorThrown) {
                    alert(errorThrown);
                    // 关闭等待层
                    layer.close(index);
                },
                {
                    weixinId:weixinId,
                    prefix: prefix,
                    word: word,
                    password:password,
                    libCode: libCode,
                    libUserName: libUserName
                }
            );
        }

        function openMsg(msg, endCallback) {
            isMsgEnter = true;
            layer.open({
                //title:'提示信息',
                content: msg,
                end: endCallback
            });
        }

        // 点击新增绑定按钮
        function handleCreateClick() {
            model.displayPage(2);
        }

        // 在新增图书馆，点击取消
        function handleCancelClick() {
            model.displayPage(1);
        }

        function selectLib()
        {
            model.displayPage(3);
        }

        // 取消选择图书馆
        function cancelSelectLib() {
            model.displayPage(2);
        }


        // 选择读者图层点击ok时
        function okSelectLibLayer(row) {

            if (row == null)
                row = $(".item-selected-bg").first();

            if (row == null || row.length == 0) {
                alert("请选择一个图书馆！");
                return false;
            }

            // 通过属性找到libCode
            var libCode = row.find(".ctrl-libCode").first().text();//.html();
            if (libCode == null || libCode == "") {
                alert("该图书馆代码为空！");
                return false;
            }
            //layer.closeAll();

            var libName = row.find(".ctrl-libName").first().text();//.html();
            if (libName == null || libName == "") {
                alert("该图书馆名称为空！");
                return false;
            }

            var libUserName = row.find(".ctrl-libUserName").first().text();//.html();
            if (libUserName == null || libUserName == "") {
                alert("该图书馆dp2mserver账号为空！");
                return false;
            }

            var libFullName = libCode + " " + libName;

            //设到界面的证条码框
            $("#txtLib").val(libFullName);
            //alert(libFullName);
            // 取馆代码与馆账号，绑定时用到
            model.editor.lib(libFullName);
            model.editor.libCode(libCode);
            model.editor.libUserName(libUserName);

            $("#prefix").focus();

            // 回到绑定界面
            model.displayPage(2);
        }


        // 显示服务器错误
        function alertServerError(info) {

            alert("服务器返回错误：" + info);

            //layer.alert("服务器返回错误：" + errorThrown, { icon: 2 });

        }

        function prefixChange()
        {
            var curText = $('#selPrefix option:checked').text();
            if (curText == "请选择绑定方式")
                curText = "";
            $('#userName').prop("placeholder", "请输入 " + curText);
        }

    </script>
}
@section style {
    <style type="text/css">
            .form-signin input{
                border: none;
            }

            .form-signin select {
                border: none;
            }

    </style>
}




    <span id="weixinId" style="display:none">@Session[dp2weixin.service.WeiXinConst.C_Session_WeiXinId]</span>

    <div data-bind="if: model.displayPage()==1" style="font-size:20px">
        <div data-bind="visible: model.wxUsers().length==0">
            <center>
                <img src='../img/emptyBind.png' width='100' height='100' />
                <p>您尚未绑定读者。</p>
            </center>
        </div>
        <table class="table table-striped" style="background-color:#ffffff">
            <tbody data-bind=" foreach:model.wxUsers">
                <tr>
                    <td>
                        <div><div style="float:left;width:80px">读者：</div>
                            <span data-bind="text:readerName"></span>
                            <span data-bind="text:readerBarcode"></span>
                        </div>
                        <div>
                            <div style="float:left;width:80px">图书馆：</div>
                            <span data-bind="text:libCode"></span>
                            <span data-bind="text:libUserName"></span>
                        </div>
                        <div>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <span data-bind="if: isActive==1"><font color='red'>*&nbsp;默认地址</font></span>
                                        <span data-bind="ifnot: isActive==1"><button class="btn btn-lg btn-default " data-bind="click: activeUser">设为默认</button></span>

                                    </td>
                                    <td width="50%" align="right">
                                        <button type="button" class="btn btn-default btn-lg" data-bind="click: removeUser">
                                            X&nbsp;删除
                                        </button>

                                    </td>
                                </tr>
                            </table>



                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-primary btn-block  btn-lg" data-bind="click: handleCreateClick">
            新增绑定
        </button>
    </div>


    <div data-bind="if: model.displayPage()==2">
        <center><h3>绑定图书馆账号</h3></center>
        <br />
        <div class="form-group-lg form-signin">
            <div>
                <table>
                    <tr>
                        <td width="100%">
                            <input class="form-control" id="txtLib" readonly="readonly" placeholder="请点击右侧按钮选择图书馆" data-bind="value:model.editor.lib">
                        </td>
                        <td>
                            <button class="btn btn-primary btn-lg" id="btnSelectLib" onclick="selectLib()">
                                <span class="glyphicon glyphicon-globe"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <select class="form-control" id="selPrefix" name="selPrefix"  onchange="prefixChange()" data-bind="value:model.editor.prefix">
                    <option value="-1">请选择绑定方式</option>
                    <option value="NB">姓名</option>
                    <option value="">证条码号</option>                    
                    <option value="EM">email</option>
                    <option value="TP">电话号码</option>
                    <option value="ID">身份证号</option>
                    <option value="CN">证号</option>
                </select>
            </div>
            <div>
                <input class="form-control" id="userName" placeholder="请输入 " data-bind="value:model.editor.word">
            </div>
            <div>
                <input class="form-control" placeholder="请输入 密码" data-bind="value:model.editor.password">
            </div>
            <div>
                <table width="100%">
                    <tr>
                        <td width="50%"><button class="btn btn-primary  btn-lg btn-block" data-bind="click: bind">绑定</button></td>
                        <td><button class="btn btn-primary  btn-lg btn-block" data-bind="click: handleCancelClick">取消</button></td>
                    </tr>
                </table>
            </div>
            <div>
                <a href="RetrievePassword" style="color:red;font-size:18px">找回密码</a></div>
        </div>
    </div>


    <div data-bind="if: model.displayPage()==3">
        <center><h3>选择图书馆</h3></center>
        <table class="table table-striped" style="background-color:#ffffff">
            <tbody data-bind="foreach:model.librarys">
                <tr>
                    <td>
                        <a href="javascript:void(0)" onclick="okSelectLibLayer($(this))" style="font-size:20px">
                            <table>
                                <tr>
                                    <td><img src='../img/library.jpg' width='60' height='60' /></td>
                                    <td width="100%">
                                        <span class="ctrl-libCode" data-bind="text:libCode"></span>
                                        <span class="ctrl-libName" data-bind="text:libName"></span>
                                        <div class ="ctrl-libUserName" data-bind="text:libUserName"></div>
                                    </td>
                                </tr>
                            </table>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-primary btn-block btn-lg" onclick="cancelSelectLib()">取消</button>

    </div>
