
@{
    ViewBag.Title = "charge";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@section style {
    <style type="text/css">

        TABLE.command {
            width:100%;
            line-height: 1.2;
            background-color:white;
        }

        TABLE.command TD.leftLine {
            width:2px;
            background-color:darkgreen;
            
        }

        TABLE.command TD.resultIcon {
            width:35px;
            vertical-align:top;
        }

        TABLE.command TD.info {
            
        }

        TABLE.command TD.info  .title{
           
        }

        TABLE.command TD.info  .patronBarcode{
           color:darkgreen;
           font-size:18pt;
        }

        TABLE.command TD.info  .name{
           font-size:28pt;
           font-weight:bold;
        }

        TABLE.command TD.info  .department{
           color:#cccccc;
           font-size:14.8px;
        }

        </style>
    }

<table class='command'>
    <tr>
        <td class='leftLine' style=''></td>
        <td class='resultIcon'><img src='~/img/right.png' /> </td>
        <td class='info'><div class='title'>装载读者信息 R00001</div>
        <div class='patronBarcode'>R00001</div>
        <div class='name'>任1</div>
            <div class='department'>苏州学校</div>
        </td>
    </tr>
</table>
        