
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@section style {
    <style>


    </style>
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        //$("#loading").show();//显示loading

        // setTimeout("$('#loading').hide();", 5000);//隐藏loading


        //var ajaxbg = $("#mask-background,#mask-progressBar");
          //  ajaxbg.show();

        // 打回车检索
        $('#mask-background').bind('click', function (event) {
            hideMaskLayer();
        });
    });

    // 播放扫描证条码号
    function playPatron()
    {
        var audio = document.getElementById("patronAudio");
        audio.play();
    }

    // 播放扫描册条码号
    function playItem() {
        var audio = document.getElementById("itemAudio");
        audio.play();
    }

</script>
}





<body>

    <!--<div id="loading" ></div>-->

    <div id="mask-background"  style="display: none; "></div>
    <div id="mask-progressBar"  style="display: none; ">数据处理中，请稍候...</div>

    <button onclick="showMaskLayer()">显示图层</button>
    <button onclick="hideMaskLayer()">关闭图层</button>

    <button id='playPatron' class="mui-btn mui-btn-default" onclick="playPatron()">播放 证条码号</button>
    <button id='playItem' class="mui-btn mui-btn-default" onclick="playItem()">播放 册条码号</button>



    <audio id="patronAudio">
        <source src="~/audio/patron.mp3" type="audio/mp3">
    </audio>
    <audio id="itemAudio">
        <source src="~/audio/item.mp3" type="audio/mp3">
    </audio>
</body>

