@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@section Scripts {
    <script>
        // 将选择的subject设到输入框中
        function subjectChanged() {
            var subValue = $("#selSubject").val();

            //alert(subValue);

            if (subValue == "new") {
                $("#divNewSubject").css('display', 'block');
                $("#_val_subject").val("");
                //$("#txtSubject").css('display', 'block');
            }
            else {
                $("#divNewSubject").css('display', 'none');
                $("#_val_subject").val(subValue);
            }
        }

    </script>
}

@section style {
    <style>
        /*================栏目div============*/
        DIV.subject {
            padding: 0px;
            /* background-color: blue;*/
            padding-bottom: 10px;
        }

            DIV.subject .firstline {
                padding: 10px;
            }

                DIV.subject .firstline .title {
                    font-size: 24px;
                }

                DIV.subject .firstline .count {
                    font-size: 18px;
                    color: #999999;
                }

        /*=======消息div===========*/
        DIV.message {
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 10px;
            /*background-color: green;*/
        }

            /*消息div下的table*/
            DIV.message TABLE {
                width: 100%;
                /*background-color: red;*/
            }

                    /*=======消息查看态===========*/

                /*消息标题*/
                DIV.message TABLE.view .title {
                    font-size: 18px;
                }

                /*标题右侧的按钮*/
                DIV.message TABLE.view .btn {
                    text-align: right;
                    padding-right: 10px;
                }

                /*消息发布时间*/
                DIV.message TABLE.view .time {
                    color: gray;
                    font-size: 12px;
                }

        /*消息内容*/
        DIV.messageTABLE.view .content {
        }




        /*=============*/
        /*消息编辑态标题*/
        DIV.message INPUT, SELECT {
            margin-bottom: 0px;
        }

        DIV.message TABLE.edit tr td {
            padding: 5px;
        }

            DIV.message TABLE.edit tr td.label {
                color: #999999;
                width: 40px;
            }

            DIV.message TABLE.edit tr td span.label {
                color: #999999;
            }

        DIV.message TABLE.edit select {
            font-size: 17px;
            height: 37px;
            padding: 0px;
            margin:0px;
        }

                DIV.message TABLE.edit input, textarea {

            padding: 5px;
            margin:0px;
        }

                /*======是否可编辑态样式=============*/
        .msgEditable {
            background-color: #CCFF99;
        }
    </style>
}
<div class="subject" id="_subject_我的">
    <div class="firstline" id="_subject_title">
        <span class="title">我的</span>
    </div>
    <div class="mui-card message" id="_edit_48c6cf02-ae0e-4320-b1fe-25a125e6c79c">
        <table class="edit">
            <tr>
                <td class="label">栏目</td>
                <td>
                    <div style="border:1px solid #cccccc">
                        <select id="selSubject" onchange="subjectChanged()">
                            <option value="">请选择 栏目</option>
                            <option value="aa">aa</option>
                            <option value="测试2">测试2</option>
                            <option value="测试1">测试1</option>
                            <option selected="selected" value="我的">我的</option>
                            <option value="new">自定义栏目</option>
                        </select>
                    </div>
                    <div id="divNewSubject" style="display:none;margin-top:5px">
                        <input id="_val_subject" type="text" value="我的" placeholder="请输入自定义栏目">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="label">标题</td>
                <td>
                    <input class="mui-input mui-input-clear" id="_val_title" type="text" value="鞢dfsf">
                </td>
            </tr>
            <tr>
                <td class="label">内容</td>
                <td>
                    <div style="border:1px solid #cccccc;">
                        <select id="selFormat" >
                            <option value="test" selected>文本格式</option>
                            <option value="markdown">Markdown格式</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="_val_content" rows="5">sadfsaf=2</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" >
                    <span class="label">注释</span>
                    <textarea id="_val_remark" rows="3">afda-1</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class='mui-btn mui-btn-primary' onclick="save('msgid')">发布</button>&nbsp;&nbsp;
                    <button class='mui-btn mui-btn-default' onclick="cancelEdit('msgid ')">取消</button>
                </td>
            </tr>
        </table>

    </div>
    <div class="mui-card message" id="_edit_14038185-520e-4b32-8151-d6226dae3478" onclick="clickMsgDiv('14038185-520e-4b32-8151-d6226dae3478')">
        <table class="view">
            <tbody>
                <tr>
                    <td class="title">bb-test</td>
                    <td class="btn">
                        <div id="btnEdit" style="display: none;">
                            <button class="mui-btn mui-btn-default" onclick="gotoEdit('14038185-520e-4b32-8151-d6226dae3478')">编辑</button>&nbsp;
                            <button class="mui-btn mui-btn-danger" onclick="deleteMsg('14038185-520e-4b32-8151-d6226dae3478')">X&nbsp;删除</button>
                        </div>
                    </td>
                </tr>
                <tr><td class="time" colspan="2"><span>2016-06-28 16:06:48</span>-<span>jane</span></td></tr>
                <tr><td class="content" colspan="2">cc</td></tr>
            </tbody>
        </table>
    </div>
    <div class="mui-card message" id="_edit_9a938fe3-ef5b-4fec-9a9e-a236bcbf6111" onclick="clickMsgDiv('9a938fe3-ef5b-4fec-9a9e-a236bcbf6111')">
        <table class="view">
            <tbody>
                <tr>
                    <td class="title">aa</td>
                    <td class="btn">
                        <div id="btnEdit" style="display: none;"><button class="mui-btn mui-btn-default" onclick="gotoEdit('9a938fe3-ef5b-4fec-9a9e-a236bcbf6111')">编辑</button>&nbsp;<button class="mui-btn mui-btn-danger" onclick="deleteMsg('9a938fe3-ef5b-4fec-9a9e-a236bcbf6111')">X&nbsp;删除</button></div>
                    </td>
                </tr>
                <tr><td class="time" colspan="2"><span>2016-06-28 16:06:18</span>-<span>jane</span></td></tr>
                <tr><td class="content" colspan="2">xx</td></tr>
            </tbody>
        </table>
    </div>


</div>