<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="dp2SIPClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <userSettings>
        <dp2SIPClient.Properties.Settings>
            <setting name="SIPServerUrl" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SIPServerPort" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="dp2ServerUrl" serializeAs="String">
                <value>http://localhost/dp2library/demo/</value>
            </setting>
            <setting name="dp2Username" serializeAs="String">
                <value>supervisor</value>
            </setting>
            <setting name="dp2Password" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Patron" serializeAs="String">
                <value/>
            </setting>
            <setting name="Item" serializeAs="String">
                <value/>
            </setting>
        </dp2SIPClient.Properties.Settings>
    </userSettings>

  <log4net>
    <appender name="dp2SIPLogging" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value=".\operlog\"/>
      <param name="AppendToFile" value="true"/>
      <Encoding value="UTF-8"/>
      <param name="MaxSizeRollBackups" value="50"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <!-- param name="maximumFileSize" value="5MB" / -->
      <!-- param name="CountDirection" value="1"/ -->
      <!--filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="ERROR" />
      </filter -->
      <layout type="log4net.Layout.PatternLayout">
        <!-- param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.fff} %5p [%C{1}:%L] - %m%n" / -->
        <param name="ConversionPattern" value="%d{HH:mm:ss.fff} %5p [%C{1}:%L] - %m%n"/>
      </layout>
    </appender>
    <root>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。OFF > FATAL > ERROR > WARN > INFO > DEBUG  > ALL  -->
      <level value="ALL"/>
      <appender-ref ref="dp2SIPLogging"/>
    </root>
  </log4net>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
