<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
  <appSettings>
    <!-- dp2library地址与账号 -->
    <add key="dp2Url" value="http://localhost/dp2library/xe/rest/"/>
    <add key="dp2UserName" value="supervisor"/>
    <add key="dp2Password" value="1"/>
    <add key="dp2WeiXinLogDir" value="C:\\dp2weixin_log"/>
  </appSettings>
</configuration>