<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonMark.NET" version="0.14.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.3.0" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.3.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.3.0" targetFramework="net45" />
  <package id="Senparc.Weixin" version="4.8.1" targetFramework="net45" />
  <package id="Senparc.Weixin.MP" version="14.3.101" targetFramework="net45" />
  <package id="ZXing" version="2.1.1" targetFramework="net45" />
</packages>